# Forumla1 Can we predict who is going to be on pole?

The aim of the project:

Data structure:
<div ><img style="height:500px"   src ='./images/ergast_db.png' /> </div>

In [4]:
import pandas as pd
import numpy as np
import sys
from scripts import ds_ultils,data_cleaning

import os
import requests
import re

In [5]:
for file in os.listdir('./data/raw'):
    if file.endswith('.csv'):
        print(file.split('.')[0])

circuits
constructors
constructor_results
constructor_standings
drivers
driver_standings
lap_times
pit_stops
qualifying
races
races_weather_all
results
seasons
sprint_results
status

In [6]:
f1_data={}
for file in os.listdir('./data/raw'):
    if file.endswith('.csv'):
        print(f"Table {file} :")
        f1_data[f"df_{file.split('.')[0]}"]=pd.read_csv(f'./data/raw/{file}')        
        ds_ultils.df_explore(f1_data[f"df_{file.split('.')[0]}"])

Table circuits.csv :

Dataframe Rows: 76 	 Dataframe Columns: 9


Summary of the dataframe :


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   circuitId   76 non-null     int64
 1   circuitRef  76 non-null     object
 2   name        76 non-null     object
 3   location    76 non-null     object
 4   country     76 non-null     object
 5   lat         76 non-null     float64
 6   lng         76 non-null     float64
 7   alt         76 non-null     object
 8   url         76 non-null     object
dtypes: float64(2), int64(1), object(6)
memory usage: 5.5+ KB
None
-------------

Total null rows: 0
Percentage null rows: 0.0%

Total duplicate rows: 0
Percentage dupe rows: 0.0%
------------

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

------------------------------

Table constructors.csv :

Dataframe Rows: 211 	 Dataframe Columns: 5


Summary of the dataframe :


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   constructorId   211 non-null    int64
 1   constructorRef  211 non-null    object
 2   name            211 non-null    object
 3   nationality     211 non-null    object
 4   url             211 non-null    object
dtypes: int64(1), object(4)
memory usage: 8.4+ KB
None
-------------

Total null rows: 0
Percentage null rows: 0.0%

Total duplicate rows: 0
Percentage dupe rows: 0.0%
------------

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso

------------------------------

Table constructor_results.csv :

Dataframe Rows: 12110 	 Dataframe Columns: 5


Summary of the dataframe :


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12110 entries, 0 to 12109
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   constructorResultsId  12110 non-null  int64
 1   raceId                12110 non-null  int64
 2   constructorId         12110 non-null  int64
 3   points                12110 non-null  float64
 4   status                12110 non-null  object
dtypes: float64(1), int64(3), object(1)
memory usage: 473.2+ KB
None
-------------

Total null rows: 0
Percentage null rows: 0.0%

Total duplicate rows: 0
Percentage dupe rows: 0.0%
------------

   constructorResultsId  raceId  constructorId  points status
0                     1      18              1    14.0     \N
1                     2      18              2     8.0     \N
2                     3      18              3     9.0     \N
3                     4      18              4     5.0     \N
4                     5      18              5     2.0     \N

------------------------------

Table constructor_standings.csv :

Dataframe Rows: 12871 	 Dataframe Columns: 7


Summary of the dataframe :


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12871 entries, 0 to 12870
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   constructorStandingsId  12871 non-null  int64
 1   raceId                  12871 non-null  int64
 2   constructorId           12871 non-null  int64
 3   points                  12871 non-null  float64
 4   position                12871 non-null  int64
 5   positionText            12871 non-null  object
 6   wins                    12871 non-null  int64
dtypes: float64(1), int64(5), object(1)
memory usage: 704.0+ KB
None
-------------

Total null rows: 0
Percentage null rows: 0.0%

Total duplicate rows: 0
Percentage dupe rows: 0.0%
------------

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
0,1,18,1,14.0,1,1,1
1,2,18,2,8.0,3,3,0
2,3,18,3,9.0,2,2,0
3,4,18,4,5.0,4,4,0
4,5,18,5,2.0,5,5,0

------------------------------

Table drivers.csv :

Dataframe Rows: 855 	 Dataframe Columns: 9


Summary of the dataframe :


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 855 entries, 0 to 854
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   driverId     855 non-null    int64
 1   driverRef    855 non-null    object
 2   number       855 non-null    object
 3   code         855 non-null    object
 4   forename     855 non-null    object
 5   surname      855 non-null    object
 6   dob          855 non-null    object
 7   nationality  855 non-null    object
 8   url          855 non-null    object
dtypes: int64(1), object(8)
memory usage: 60.2+ KB
None
-------------

Total null rows: 0
Percentage null rows: 0.0%

Total duplicate rows: 0
Percentage dupe rows: 0.0%
------------

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

------------------------------

Table driver_standings.csv :

Dataframe Rows: 33750 	 Dataframe Columns: 7


Summary of the dataframe :


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33750 entries, 0 to 33749
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   driverStandingsId  33750 non-null  int64
 1   raceId             33750 non-null  int64
 2   driverId           33750 non-null  int64
 3   points             33750 non-null  float64
 4   position           33750 non-null  int64
 5   positionText       33750 non-null  object
 6   wins               33750 non-null  int64
dtypes: float64(1), int64(5), object(1)
memory usage: 1.8+ MB
None
-------------

Total null rows: 0
Percentage null rows: 0.0%

Total duplicate rows: 0
Percentage dupe rows: 0.0%
------------

   driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0
2                  3      18         3     6.0         3            3     0
3                  4      18         4     5.0         4            4     0
4                  5      18         5     4.0         5            5     0

------------------------------

Table lap_times.csv :

Dataframe Rows: 531935 	 Dataframe Columns: 6


Summary of the dataframe :


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 531935 entries, 0 to 531934
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   raceId        531935 non-null  int64
 1   driverId      531935 non-null  int64
 2   lap           531935 non-null  int64
 3   position      531935 non-null  int64
 4   time          531935 non-null  object
 5   milliseconds  531935 non-null  int64
dtypes: int64(5), object(1)
memory usage: 24.4+ MB
None
-------------

Total null rows: 0
Percentage null rows: 0.0%

Total duplicate rows: 0
Percentage dupe rows: 0.0%
------------

   raceId  driverId  lap  position      time  milliseconds
0     841        20    1         1  1:38.109         98109
1     841        20    2         1  1:33.006         93006
2     841        20    3         1  1:32.713         92713
3     841        20    4         1  1:32.803         92803
4     841        20    5         1  1:32.342         92342

------------------------------

Table pit_stops.csv :

Dataframe Rows: 9437 	 Dataframe Columns: 7


Summary of the dataframe :


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9437 entries, 0 to 9436
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   raceId        9437 non-null   int64
 1   driverId      9437 non-null   int64
 2   stop          9437 non-null   int64
 3   lap           9437 non-null   int64
 4   time          9437 non-null   object
 5   duration      9437 non-null   object
 6   milliseconds  9437 non-null   int64
dtypes: int64(5), object(2)
memory usage: 516.2+ KB
None
-------------

Total null rows: 0
Percentage null rows: 0.0%

Total duplicate rows: 0
Percentage dupe rows: 0.0%
------------

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841        30     1    1  17:05:52   25.021         25021
2     841        17     1   11  17:20:48   23.426         23426
3     841         4     1   12  17:22:34   23.251         23251
4     841        13     1   13  17:24:10   23.842         23842

------------------------------

Table qualifying.csv :

Dataframe Rows: 9455 	 Dataframe Columns: 9


Summary of the dataframe :


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9455 entries, 0 to 9454
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   qualifyId      9455 non-null   int64
 1   raceId         9455 non-null   int64
 2   driverId       9455 non-null   int64
 3   constructorId  9455 non-null   int64
 4   number         9455 non-null   int64
 5   position       9455 non-null   int64
 6   q1             9447 non-null   object
 7   q2             9304 non-null   object
 8   q3             9161 non-null   object
dtypes: int64(6), object(3)
memory usage: 664.9+ KB
None
-------------

Total null rows: 453
Percentage null rows: 4.79%

Total duplicate rows: 0
Percentage dupe rows: 0.0%
------------

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236

------------------------------

Table races.csv :

Dataframe Rows: 1079 	 Dataframe Columns: 18


Summary of the dataframe :


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1079 entries, 0 to 1078
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   raceId       1079 non-null   int64
 1   year         1079 non-null   int64
 2   round        1079 non-null   int64
 3   circuitId    1079 non-null   int64
 4   name         1079 non-null   object
 5   date         1079 non-null   object
 6   time         1079 non-null   object
 7   url          1079 non-null   object
 8   fp1_date     1079 non-null   object
 9   fp1_time     1079 non-null   object
 10  fp2_date     1079 non-null   object
 11  fp2_time     1079 non-null   object
 12  fp3_date     1079 non-null   object
 13  fp3_time     1079 non-null   object
 14  quali_date   1079 non-null   object
 15  quali_time   1079 non-null   object
 16  sprint_date  1079 non-null   object
 17  sprint_time  1079 non-null   object
dtypes: int64(4), object(14)
memory usage: 151.9+ KB
None
-------------

Total null rows: 0
Percentage null rows: 0.0%

Total duplicate rows: 0
Percentage dupe rows: 0.0%
------------

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

------------------------------

Table races_weather_all.csv :

Dataframe Rows: 1073 	 Dataframe Columns: 23


Summary of the dataframe :


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1073 entries, 0 to 1072
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1073 non-null   int64
 1   raceId             1073 non-null   int64
 2   year               1073 non-null   int64
 3   circuitId          1073 non-null   int64
 4   name               1073 non-null   object
 5   date               1073 non-null   object
 6   time               342 non-null    object
 7   url                1073 non-null   object
 8   quali_date         38 non-null     object
 9   quali_time         16 non-null     object
 10  sprint_date        5 non-null      object
 11  sprint_time        2 non-null      object
 12  lat                1073 non-null   float64
 13  lng                1073 non-null   float64
 14  race_temp          865 non-null    float64
 15  race_precip        827 non-null    float64
 16  race_humidity      865 non-null    float64
 17  race_condition     865 non-null    object
 18  quali_temp         866 non-null    float64
 19  quali_precip       829 non-null    float64
 20  quali_humidity     866 non-null    float64
 21  quali_condition    866 non-null    object
 22  race_weather_wiki  1073 non-null   object
dtypes: float64(8), int64(4), object(11)
memory usage: 192.9+ KB
None
-------------

Total null rows: 6697
Percentage null rows: 624.14%

Total duplicate rows: 0
Percentage dupe rows: 0.0%
------------

,Unnamed: 0,raceId,year,circuitId,name,date,time,url,quali_date,quali_time,...,lng,race_temp,race_precip,race_humidity,race_condition,quali_temp,quali_precip,quali_humidity,quali_condition,race_weather_wiki
0,0,1,2009,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,NaN,NaN,...,144.968,10.425000,0.0,57.227500,Clear,9.300000,0.000000,88.042500,Clear,Weather\nSunny with temperatures reaching up t...
1,1,18,2008,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...,NaN,NaN,...,144.968,19.500000,0.0,60.087500,Clear,16.825000,0.000000,90.102500,Partially cloudy,"Weather\nClear, dry, air temperature of 39 °C ..."
2,2,36,2007,1,Australian Grand Prix,2007-03-18,03:00:00,http://en.wikipedia.org/wiki/2007_Australian_G...,NaN,NaN,...,144.968,11.050000,0.0,79.952500,Partially cloudy,12.925000,0.000000,82.990000,Clear,Weather\nClear with temperatures reaching up t...
3,3,55,2006,1,Australian Grand Prix,2006-04-02,14:00:00,http://en.wikipedia.org/wiki/2006_Australian_G...,NaN,NaN,...,144.968,15.200000,0.0,53.330000,Partially cloudy,15.466667,0.090000,49.036667,Partially cloudy,Weather\nCloudy with sunny breaks. Air tempera...
4,4,71,2005,1,Australian Grand Prix,2005-03-06,14:00:00,http://en.wikipedia.org/wiki/2005_Australian_G...,NaN,NaN,...,144.968,17.166667,0.0,54.376667,"['Clear', 'Overcast', 'Partially cloudy']",14.333333,1.586667,58.243333,Partially cloudy,"Weather\nCool, partly cloudy"

------------------------------

Table results.csv :

Dataframe Rows: 25720 	 Dataframe Columns: 18


Summary of the dataframe :


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25720 entries, 0 to 25719
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   resultId         25720 non-null  int64
 1   raceId           25720 non-null  int64
 2   driverId         25720 non-null  int64
 3   constructorId    25720 non-null  int64
 4   number           25720 non-null  object
 5   grid             25720 non-null  int64
 6   position         25720 non-null  object
 7   positionText     25720 non-null  object
 8   positionOrder    25720 non-null  int64
 9   points           25720 non-null  float64
 10  laps             25720 non-null  int64
 11  time             25720 non-null  object
 12  milliseconds     25720 non-null  object
 13  fastestLap       25720 non-null  object
 14  rank             25720 non-null  object
 15  fastestLapTime   25720 non-null  object
 16  fastestLapSpeed  25720 non-null  object
 17  statusId         25720 non-null  int64
dtypes: float64(1), int64(8), object(9)
memory usage: 3.5+ MB
None
-------------

Total null rows: 0
Percentage null rows: 0.0%

Total duplicate rows: 0
Percentage dupe rows: 0.0%
------------

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

------------------------------

Table seasons.csv :

Dataframe Rows: 73 	 Dataframe Columns: 2


Summary of the dataframe :


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    73 non-null     int64
 1   url     73 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.3+ KB
None
-------------

Total null rows: 0
Percentage null rows: 0.0%

Total duplicate rows: 0
Percentage dupe rows: 0.0%
------------

   year                                                url
0  2009  http://en.wikipedia.org/wiki/2009_Formula_One_...
1  2008  http://en.wikipedia.org/wiki/2008_Formula_One_...
2  2007  http://en.wikipedia.org/wiki/2007_Formula_One_...
3  2006  http://en.wikipedia.org/wiki/2006_Formula_One_...
4  2005  http://en.wikipedia.org/wiki/2005_Formula_One_...

------------------------------

Table sprint_results.csv :

Dataframe Rows: 100 	 Dataframe Columns: 16


Summary of the dataframe :


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   resultId        100 non-null    int64
 1   raceId          100 non-null    int64
 2   driverId        100 non-null    int64
 3   constructorId   100 non-null    int64
 4   number          100 non-null    int64
 5   grid            100 non-null    int64
 6   position        100 non-null    object
 7   positionText    100 non-null    object
 8   positionOrder   100 non-null    int64
 9   points          100 non-null    int64
 10  laps            100 non-null    int64
 11  time            100 non-null    object
 12  milliseconds    100 non-null    object
 13  fastestLap      100 non-null    object
 14  fastestLapTime  100 non-null    object
 15  statusId        100 non-null    int64
dtypes: int64(10), object(6)
memory usage: 12.6+ KB
None
-------------

Total null rows: 0
Percentage null rows: 0.0%

Total duplicate rows: 0
Percentage dupe rows: 0.0%
------------

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,statusId
0,1,1061,830,9,33,2,1,1,1,3,17,25:38.426,1538426,14,1:30.013,1
1,2,1061,1,131,44,1,2,2,2,2,17,+1.430,1539856,17,1:29.937,1
2,3,1061,822,131,77,3,3,3,3,1,17,+7.502,1545928,17,1:29.958,1
3,4,1061,844,6,16,4,4,4,4,0,17,+11.278,1549704,16,1:30.163,1
4,5,1061,846,1,4,6,5,5,5,0,17,+24.111,1562537,16,1:30.566,1

------------------------------

Table status.csv :

Dataframe Rows: 139 	 Dataframe Columns: 2


Summary of the dataframe :


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   statusId  139 non-null    int64
 1   status    139 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.3+ KB
None
-------------

Total null rows: 0
Percentage null rows: 0.0%

Total duplicate rows: 0
Percentage dupe rows: 0.0%
------------

   statusId        status
0         1      Finished
1         2  Disqualified
2         3      Accident
3         4     Collision
4         5        Engine

------------------------------

Files often have "\N" instead of null or empty values. For each csv file, I will replace the "\N" with null values and re inspect the data

In [7]:
f1_data.keys()

dict_keys(['df_circuits', 'df_constructors', 'df_constructor_results', 'df_constructor_standings', 'df_drivers', 'df_driver_standings', 'df_lap_times', 'df_pit_stops', 'df_qualifying', 'df_races', 'df_races_weather_all', 'df_results', 'df_seasons', 'df_sprint_results', 'df_status'])

**Columns with significant amount of null values :**

In [8]:
for key in f1_data.keys():
    df = f1_data[key]
    df.replace("\\N",np.NaN,inplace=True)
    #df.to_csv(f'../data/clean/{key}_clean.csv',index=False)
    print(f'Dataframe {key}')
    ds_ultils.nan_checker(f1_data[key])
    print('-----------')

Dataframe df_circuits
This dataframe has 2 NaN values
 The NaN values come from: ['alt'].

-----------
Dataframe df_constructors
This dataframe has 0 NaN values
-----------
Dataframe df_constructor_results
This dataframe has 12093 NaN values
 The NaN values come from: ['status'].
	 These ['status'] columns have > 50% NaNs
-----------
Dataframe df_constructor_standings
This dataframe has 0 NaN values
-----------
Dataframe df_drivers
This dataframe has 1560 NaN values
 The NaN values come from: ['number', 'code'].
	 These ['number', 'code'] columns have > 50% NaNs
-----------
Dataframe df_driver_standings
This dataframe has 0 NaN values
-----------
Dataframe df_lap_times
This dataframe has 0 NaN values
-----------
Dataframe df_pit_stops
This dataframe has 0 NaN values
-----------
Dataframe df_qualifying
This dataframe has 10861 NaN values
 The NaN values come from: ['q1', 'q2', 'q3'].
	 These ['q3'] columns have > 50% NaNs
-----------
Dataframe df_races
This dataframe has 11257 NaN values
 The NaN values come from: ['time', 'fp1_date', 'fp1_time', 'fp2_date', 'fp2_time', 'fp3_date', 'fp3_time', 'quali_date', 'quali_time', 'sprint_date', 'sprint_time'].
	 These ['time', 'fp1_date', 'fp1_time', 'fp2_date', 'fp2_time', 'fp3_date', 'fp3_time', 'quali_date', 'quali_time', 'sprint_date', 'sprint_time'] columns have > 50% NaNs
-----------
Dataframe df_races_weather_all
This dataframe has 6697 NaN values
 The NaN values come from: ['time', 'quali_date', 'quali_time', 'sprint_date', 'sprint_time', 'race_temp', 'race_precip', 'race_humidity', 'race_condition', 'quali_temp', 'quali_precip', 'quali_humidity', 'quali_condition'].
	 These ['time', 'quali_date', 'quali_time', 'sprint_date', 'sprint_time'] columns have > 50% NaNs
-----------
Dataframe df_results
This dataframe has 121883 NaN values
 The NaN values come from: ['number', 'position', 'time', 'milliseconds', 'fastestLap', 'rank', 'fastestLapTime', 'fastestLapSpeed'].
	 These ['time', 'milliseconds', 'fastestLap', 'rank', 'fastestLapTime', 'fastestLapSpeed'] columns have > 50% NaNs
-----------
Dataframe df_seasons
This dataframe has 0 NaN values
-----------
Dataframe df_sprint_results
This dataframe has 20 NaN values
 The NaN values come from: ['position', 'time', 'milliseconds', 'fastestLap', 'fastestLapTime'].

-----------
Dataframe df_status
This dataframe has 0 NaN values
-----------

In [9]:
df_circuits_clean = f1_data['df_circuits'].copy()
df_circuits_clean.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [10]:
df_circuits_clean[df_circuits_clean.isna().any(axis=1)]

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
74,78,losail,Losail International Circuit,Al Daayen,Qatar,25.4900,51.4542,NaN,http://en.wikipedia.org/wiki/Losail_Internatio...
75,79,miami,Miami International Autodrome,Miami,USA,25.9581,-80.2389,NaN,http://en.wikipedia.org/wiki/Miami_Internation...

In [11]:
# Inspired from stackoverflow - https://stackoverflow.com/questions/19513212/can-i-get-the-altitude-with-geopy-in-python-with-longitude-latitude
df_circuits_clean.loc[df_circuits_clean.isna().any(axis=1),'alt']=df_circuits_clean[df_circuits_clean.isna().any(axis=1)].apply(lambda x: data_cleaning.get_elevation(x.lat,x.lng), axis=1)

In [12]:
df_circuits_clean[df_circuits_clean.isna().any(axis=1)]

Empty DataFrame
Columns: [circuitId, circuitRef, name, location, country, lat, lng, alt, url]
Index: []

altitude is filled in

CircuitRef is a repitition of name, however for combination with telemetry data will keep it for now

Constructors database

In [13]:
f1_data.keys()

dict_keys(['df_circuits', 'df_constructors', 'df_constructor_results', 'df_constructor_standings', 'df_drivers', 'df_driver_standings', 'df_lap_times', 'df_pit_stops', 'df_qualifying', 'df_races', 'df_races_weather_all', 'df_results', 'df_seasons', 'df_sprint_results', 'df_status'])

In [14]:
df_constructors_clean =f1_data['df_constructors']

In [15]:
df_constructors_clean.head()

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso

In [16]:
len(df_constructors_clean['constructorRef'].unique())

211

In [17]:
len(df_constructors_clean['name'].unique())

211

Same length of names for Constructor ref and name and duplicate of values. will drop name

In [18]:
df_constructors_clean.drop(columns='name',axis=0,inplace=True)

Constructor Results

In [19]:
df_constructor_results_clean=f1_data['df_constructor_results'].copy()

In [20]:
df_constructor_results_clean.head()

   constructorResultsId  raceId  constructorId  points status
0                     1      18              1    14.0    NaN
1                     2      18              2     8.0    NaN
2                     3      18              3     9.0    NaN
3                     4      18              4     5.0    NaN
4                     5      18              5     2.0    NaN

In [21]:
df_constructor_results_clean.shape

(12110, 5)

In [22]:
len(df_constructor_results_clean.isna().any(axis=1))

12110

In [23]:
len(df_constructor_results_clean)

12110

In [24]:
df_constructor_results_clean[df_constructor_results_clean.isna().any(axis=1)]

       constructorResultsId  raceId  constructorId  points status
0                         1      18              1    14.0    NaN
1                         2      18              2     8.0    NaN
2                         3      18              3     9.0    NaN
3                         4      18              4     5.0    NaN
4                         5      18              5     2.0    NaN
...                     ...     ...            ...     ...    ...
12105                 16605    1089              3     2.0    NaN
12106                 16606    1089             51     1.0    NaN
12107                 16607    1089            214     0.0    NaN
12108                 16608    1089            210     0.0    NaN
12109                 16609    1089            117     0.0    NaN

[12093 rows x 5 columns]

All status of constructors is nan - will drop status column for constructors

In [25]:
df_constructor_results_clean.drop(columns='status',axis=0,inplace=True)

Constructor Standings

In [26]:
df_constructor_standings_clean=f1_data['df_constructor_standings'].copy()

In [27]:
df_constructor_standings_clean.head()

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
0,1,18,1,14.0,1,1,1
1,2,18,2,8.0,3,3,0
2,3,18,3,9.0,2,2,0
3,4,18,4,5.0,4,4,0
4,5,18,5,2.0,5,5,0

In [28]:
df_constructor_standings_clean['positionText'].unique()

array(['1', '3', '2', '4', '5', '6', '8', '7', '9', '10', '11', 'E', '12',
       '13', '14', '15', '18', '17', '16', '19', '20', '21', '22'],
      dtype=object)

In [29]:
df_constructor_standings_clean['position'].unique()

array([ 1,  3,  2,  4,  5,  6,  8,  7,  9, 10, 11, 12, 13, 14, 15, 18, 17,
       16, 19, 20, 21, 22], dtype=int64)

In [30]:
df_constructor_standings_clean['positionText'].value_counts()

1     1009
3     1009
2     1009
4     1008
5     1008
6     1008
7     1004
8      992
9      978
10     947
11     706
12     497
13     389
14     333
15     300
16     227
17     179
18     124
19      94
20      29
E       17
21       3
22       1
Name: positionText, dtype: int64

In [31]:
df_constructor_standings_clean[df_constructor_standings_clean['positionText']=='E']

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
217,25756,38,1,44.0,11,E,1
227,25767,39,1,58.0,11,E,1
236,25778,40,1,76.0,11,E,2
245,25789,41,1,88.0,11,E,3
254,25800,42,1,106.0,11,E,4
263,25811,43,1,114.0,11,E,4
272,25822,44,1,128.0,11,E,5
281,25833,45,1,138.0,11,E,5
290,25844,46,1,138.0,11,E,6
299,25855,47,1,148.0,11,E,6
308,25866,48,1,166.0,11,E,7
317,25877,49,1,192.0,11,E,7
326,25888,50,1,202.0,11,E,8
335,25899,51,1,210.0,11,E,8
344,25910,52,1,218.0,11,E,8
3685,25734,36,1,14.0,11,E,0
3686,25745,37,1,32.0,11,E,1

In [32]:
df_constructors_clean[df_constructors_clean['constructorId']==1]

,constructorId,constructorRef,nationality,url
0,1,mclaren,British,http://en.wikipedia.org/wiki/McLaren

In [33]:
df_races_weather_all_clean=f1_data['df_races_weather_all'].copy()

In [34]:
df_races_weather_all_clean[df_races_weather_all_clean['raceId']==36]

,Unnamed: 0,raceId,year,circuitId,name,date,time,url,quali_date,quali_time,...,lng,race_temp,race_precip,race_humidity,race_condition,quali_temp,quali_precip,quali_humidity,quali_condition,race_weather_wiki
2,2,36,2007,1,Australian Grand Prix,2007-03-18,03:00:00,http://en.wikipedia.org/wiki/2007_Australian_G...,NaN,NaN,...,144.968,11.05,0.0,79.9525,Partially cloudy,12.925,0.0,82.99,Clear,Weather\nClear with temperatures reaching up t...

Maclearn were excluded from the constructors standings in 2007 due to possessing confidential information from the Ferrari team.
https://thefacts.app/facts/events/the-mclaren-f1-team-are-found-guilty-of-possessing-confidential-information-from-the-ferrari-team-fined-100-million-and-excluded-from-the-constructors-championship-standings

For our model, we will include there position and use position and not PositionText. Since it is just Maclearn

In [35]:
df_constructor_standings_clean.drop(columns='positionText',axis=0, inplace = True)

Drivers database

In [36]:
df_drivers_clean=f1_data['df_drivers'].copy()
df_drivers_clean.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,NaN,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,NaN,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

It has nan only in number and code. Number and code are repitions of driverref

In [37]:
len(df_drivers_clean['driverRef'].unique())

855

In [38]:
len(df_drivers_clean['driverId'].unique())

855

In [39]:
len(df_drivers_clean['surname'].unique())

796

In [40]:
len(df_drivers_clean['forename'].unique())

475

In [41]:
len(df_drivers_clean['number'].unique())

44

In [42]:
len(df_drivers_clean['code'].unique())

93

There are no drivers with the same driverRef, therefore we can drop number and code. Forename and surname is the same as driverref. However there are non unique surnames, like Mike and Micheal Schumacher. Therefore we will drop forename and surname.

In [43]:
df_drivers_clean.drop(columns=['code','forename','surname'],axis=0,inplace=True)

In [44]:
df_drivers_clean.head()

,driverId,driverRef,number,dob,nationality,url
0,1,hamilton,44,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,NaN,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,NaN,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

Driver standings

In [45]:
df_driver_standings_clean=f1_data['df_driver_standings'].copy()

In [46]:
df_driver_standings_clean.head()

   driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0
2                  3      18         3     6.0         3            3     0
3                  4      18         4     5.0         4            4     0
4                  5      18         5     4.0         5            5     0

In [47]:
df_driver_standings_clean['position'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  27,
        26,  28,  29,  30,  31,  33,  32,  34,  36,  35,  38,  39,  37,
        45,  41,  46,  42,  40,  43,  44,  47,  49,  48,  51,  50,  52,
        53,  55,  54,  57,  56,  58,  59,  61,  60,  62,  66,  65,  63,
        64,  69,  68,  67,  73,  72,  71,  70,  75,  74,  77,  76,  78,
        83,  81,  80,  88,  87,  84,  82,  86,  85,  79,  91,  90,  89,
        92,  93,  94,  95,  96,  97,  98, 103, 102, 101,  99, 100, 104,
       108, 107, 105, 106], dtype=int64)

In [48]:
df_driver_standings_clean['positionText'].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '27', '26', 'D', '28', '29', '30', '31', '33', '32',
       '34', '36', '35', '38', '39', '37', '45', '41', '46', '42', '40',
       '43', '44', '47', '49', '48', '51', '50', '52', '53', '55', '54',
       '57', '56', '58', '59', '61', '60', '62', '66', '65', '63', '64',
       '69', '68', '67', '73', '72', '71', '70', '75', '74', '77', '76',
       '78', '83', '81', '80', '88', '87', '84', '82', '86', '85', '79',
       '91', '90', '89', '92', '93', '94', '95', '96', '97', '98', '103',
       '102', '101', '99', '100', '104', '108', '107', '105', '106'],
      dtype=object)

In [49]:
df_driver_standings_clean['positionText'].value_counts()

1      1073
2      1073
3      1073
4      1073
5      1073
       ...
105       2
107       1
D         1
108       1
106       1
Name: positionText, Length: 109, dtype: int64

One disqualified result

In [50]:
df_driver_standings_clean[df_driver_standings_clean['positionText'] == 'D']

      driverStandingsId  raceId  driverId  points  position positionText  wins
4375              11031     223        30    78.0        26            D     5

In [51]:
df_drivers_clean[df_drivers_clean['driverId'] == 30]

,driverId,driverRef,number,dob,nationality,url
29,30,michael_schumacher,NaN,1969-01-03,German,http://en.wikipedia.org/wiki/Michael_Schumacher

In [52]:
df_races_weather_all_clean[df_races_weather_all_clean['raceId']==223]

,Unnamed: 0,raceId,year,circuitId,name,date,time,url,quali_date,quali_time,...,lng,race_temp,race_precip,race_humidity,race_condition,quali_temp,quali_precip,quali_humidity,quali_condition,race_weather_wiki
754,758,223,1997,26,European Grand Prix,1997-10-26,NaN,http://en.wikipedia.org/wiki/1997_European_Gra...,NaN,NaN,...,-6.03417,21.5,0.0,73.85,Partially cloudy,20.9,0.0,70.28,Partially cloudy,Weather\nSunny with temperatures reaching up t...

Michael Schumacher was disqualified from 1997 F1 world championship for trying to take out Jacques Villeneuve https://sportslumo.com/motorsport/f1-rewind-when-michael-schumacher-was-disqualified-from-f1-world-championship-for-trying-to-take-out-jacques-villeneuve/

This was the end of the season the last race - hence only one occurence. Since we can not predict these "Black Swan" type events we will take his true position before exclusion

Therefore drop PositionText column as it is a repetition of position

In [53]:
df_driver_standings_clean.drop(columns='positionText',axis=0,inplace=True)

Lap times

In [54]:
df_lap_times_clean=f1_data['df_lap_times'].copy()

In [55]:
df_lap_times_clean.head()

   raceId  driverId  lap  position      time  milliseconds
0     841        20    1         1  1:38.109         98109
1     841        20    2         1  1:33.006         93006
2     841        20    3         1  1:32.713         92713
3     841        20    4         1  1:32.803         92803
4     841        20    5         1  1:32.342         92342

different approach get number of minute from string split. then conver to milliseconds and check

In [56]:
df_lap_times_clean['time'].str.split(':').str[1].astype('float')*1000

0         38109.0
1         33006.0
2         32713.0
3         32803.0
4         32342.0
           ...
531930    58624.0
531931    44343.0
531932    11878.0
531933    23805.0
531934    12057.0
Name: time, Length: 531935, dtype: float64

In [57]:
((df_lap_times_clean['time'].str.split(':').str[0].astype('float')*60*1000 + 
  df_lap_times_clean['time'].str.split(':').str[1].astype('float')*1000) == df_lap_times_clean['milliseconds']).sum()

531892

In [58]:
len(df_lap_times_clean['time'])

531935

Not completely equal

In [59]:
df_lap_times_clean[(df_lap_times_clean['time'].str.split(':').str[0].astype('float')*60*1000 + 
  df_lap_times_clean['time'].str.split(':').str[1].astype('float')*1000) != df_lap_times_clean['milliseconds']]

       raceId  driverId  lap  position         time  milliseconds
7916      847        20   25         1  2:05:05.152       7505152
7985      847         4   25         8  2:05:04.226       7504226
8020      847        13   25         3  2:05:06.656       7506656
8089      847        17   25         7  2:05:05.034       7505034
8165      847         3   25        10  2:05:01.488       7501488
8234      847        18   25        11  2:05:03.775       7503775
8303      847        30   25        12  2:05:02.081       7502081
8372      847         2   25         4  2:05:07.547       7507547
8426      847       808   25         5  2:05:06.243       7506243
8495      847       814   25         6  2:05:03.980       7503980
8561      847       813   25        20  2:04:53.927       7493927
8621      847       155   25         2  2:05:06.095       7506095
8690      847        16   25        13  2:04:59.740       7499740
8738      847        67   25        18  2:04:54.505       7494505
8807      847        22   25        16  2:04:56.893       7496893
8876      847        37   25         9  2:05:03.795       7503795
8945      847        15   25        22  2:04:34.332       7474332
9013      847         5   25        21  2:04:52.103       7492103
9040      847        24   25        17  2:04:54.873       7494873
9108      847        10   25        15  2:04:57.345       7497345
9176      847        39   25        19  2:04:53.691       7493691
9244      847       816   25        23  2:04:29.869       7469869
9312      847       153   25        14  2:05:00.160       7500160
81579     908         3    2         1  1:01:40.256       3700256
81607     908        18    2         2  1:01:40.606       3700606
81659     908       825    2         3  1:01:40.135       3700135
81711     908         1    2         4  1:01:38.495       3698495
81763     908        20    2         5  1:01:34.951       3694951
81815     908       807    2         6  1:01:34.017       3694017
81867     908       817    2         7  1:01:32.106       3692106
81919     908       826    2         8  1:01:30.660       3690660
81971     908       822    2         9  1:01:29.718       3689718
82023     908       820    2        20  1:03:23.459       3803459
82073     908       824    2        10  1:01:27.269       3687269
82124     908        16    2        11  1:01:24.123       3684123
82175     908       821    2        12  1:01:21.464       3681464
82184     908         4    2        13  1:01:19.776       3679776
82236     908       813    2        14  1:01:17.567       3677567
82285     908       828    2        15  1:01:14.941       3674941
82296     908       154    2        16  1:01:10.560       3670560
82347     908       818    2        17  1:01:07.384       3667384
82397     908       155    1        19  1:01:38.698       3698698
82447     908       815    1        20  1:01:42.636       3702636

In [60]:
def convert_time_miliseconds(x):    
    if len(x.split(':')) > 2:
        secs = float(x.split(':')[0])*60*60*1000 + float(x.split(':')[1])*60*1000+ float(x.split(':')[2])*1000
    elif len(x.split(':')) > 1:
        secs = float(x.split(':')[0])*60*1000 + float(x.split(':')[1])*1000
    elif len(x.split(':')) == 1:
        secs= float(x.split(':')[0])*1000
    return round(secs,0)

In [61]:
(df_lap_times_clean['time'].apply(convert_time_miliseconds) != df_lap_times_clean['milliseconds']).sum()

0

Time is the same as milliseconds, drop time

In [62]:
df_lap_times_clean.drop(columns='time',axis=0,inplace=True)

df_pit_stops_clean - 0 nans

In [63]:
df_pit_stops_clean=f1_data['df_pit_stops'].copy()

In [64]:
df_pit_stops_clean.head()

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841        30     1    1  17:05:52   25.021         25021
2     841        17     1   11  17:20:48   23.426         23426
3     841         4     1   12  17:22:34   23.251         23251
4     841        13     1   13  17:24:10   23.842         23842

In [65]:
df_pit_stops_clean['duration'].dtype

dtype('O')

In [66]:
(df_pit_stops_clean['duration'].apply(convert_time_miliseconds) != df_pit_stops_clean['milliseconds']).sum()

0

All duration = milliseconds. Therefore drop duration. Time is time of day, this could be combined with date if needed

In [67]:
df_pit_stops_clean.drop(columns='duration',axis=0,inplace=True)

df_qualifying_clean - nans in q

In [68]:
df_qualifying_clean=f1_data['df_qualifying'].copy()

In [69]:
df_qualifying_clean.head()

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236

In [70]:
df_qualifying_clean[df_qualifying_clean.isna().all(axis=1)]

Empty DataFrame
Columns: [qualifyId, raceId, driverId, constructorId, number, position, q1, q2, q3]
Index: []

Number column is driver number from ergast api, therefore can be dropped

In [71]:
frames=[]
for race in df_qualifying_clean['raceId'].unique():
    df=pd.DataFrame({'raceId':race,
                     'q1_nans':df_qualifying_clean.loc[df_qualifying_clean['raceId']==race,'q1'].isna().sum(),
                     'q1_results':(~df_qualifying_clean.loc[df_qualifying_clean['raceId']==race,'q1'].isna()).sum(),                     
                     'q2_nans':df_qualifying_clean.loc[df_qualifying_clean['raceId']==race,'q2'].isna().sum(),
                     'q2_results':(~df_qualifying_clean.loc[df_qualifying_clean['raceId']==race,'q2'].isna()).sum(),
                     'q3_nans':df_qualifying_clean.loc[df_qualifying_clean['raceId']==race,'q3'].isna().sum(),
                     'q3_results':(~df_qualifying_clean.loc[df_qualifying_clean['raceId']==race,'q3'].isna()).sum(),
                     'num_driver': len(df_qualifying_clean.loc[df_qualifying_clean['raceId'] == race,'driverId'].unique())
                    },index=[0])
    frames.append(df)
    
df=pd.concat(frames,ignore_index=True)

In [72]:
df

,raceId,q1_nans,q1_results,q2_nans,q2_results,q3_nans,q3_results,num_driver
0,18,0,22,8,14,13,9,22
1,19,0,22,6,16,12,10,22
2,20,0,22,6,16,12,10,22
3,21,0,22,6,16,12,10,22
4,22,0,20,5,15,10,10,20
...,...,...,...,...,...,...,...,...
437,1085,0,20,5,15,12,8,20
438,1086,0,20,5,15,10,10,20
439,1087,0,20,5,15,10,10,20
440,1088,0,20,5,15,11,9,20
441,1089,0,20,6,14,11,9,20

In [73]:
df['q3_check']=df['q3_nans']+df['q3_results']
df['q2_check']=df['q2_nans']+df['q2_results']

In [74]:
df.head()

,raceId,q1_nans,q1_results,q2_nans,q2_results,q3_nans,q3_results,num_driver,q3_check,q2_check
0,18,0,22,8,14,13,9,22,22,22
1,19,0,22,6,16,12,10,22,22,22
2,20,0,22,6,16,12,10,22,22,22
3,21,0,22,6,16,12,10,22,22,22
4,22,0,20,5,15,10,10,20,20,20

In [75]:
(~df['q3_check'] == df['num_driver']).sum()

0

In [76]:
(~df['q2_check'] == df['num_driver']).sum()

0

In [77]:
df_qualifying_clean[df_qualifying_clean['q1'].isna()]

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
147,148,24,20,5,15,20,NaN,NaN,NaN
307,308,32,21,10,21,20,NaN,NaN,NaN
455,456,39,26,5,19,22,NaN,NaN,NaN
477,478,40,27,12,21,22,NaN,NaN,NaN
763,764,53,8,1,3,22,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
8994,9035,228,85,28,23,22,NaN,NaN,NaN
9174,9232,1075,852,213,22,20,NaN,NaN,NaN
9194,9252,1076,840,117,18,20,NaN,NaN,NaN
9214,9272,1077,848,3,23,20,NaN,NaN,NaN
9234,9292,1078,839,214,31,20,NaN,NaN,NaN

In [78]:
df_qualifying_clean[df_qualifying_clean['q1'].isna()].sort_values(['raceId','position'])

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
3283,3285,15,17,9,14,20,NaN,NaN,NaN
147,148,24,20,5,15,20,NaN,NaN,NaN
307,308,32,21,10,21,20,NaN,NaN,NaN
455,456,39,26,5,19,22,NaN,NaN,NaN
477,478,40,27,12,21,22,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
8992,9033,1066,830,9,33,20,NaN,NaN,NaN
9174,9232,1075,852,213,22,20,NaN,NaN,NaN
9194,9252,1076,840,117,18,20,NaN,NaN,NaN
9214,9272,1077,848,3,23,20,NaN,NaN,NaN
9234,9292,1078,839,214,31,20,NaN,NaN,NaN

In [79]:
df_qualifying_clean.loc[df_qualifying_clean['q1'].isna()]

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
147,148,24,20,5,15,20,NaN,NaN,NaN
307,308,32,21,10,21,20,NaN,NaN,NaN
455,456,39,26,5,19,22,NaN,NaN,NaN
477,478,40,27,12,21,22,NaN,NaN,NaN
763,764,53,8,1,3,22,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
8994,9035,228,85,28,23,22,NaN,NaN,NaN
9174,9232,1075,852,213,22,20,NaN,NaN,NaN
9194,9252,1076,840,117,18,20,NaN,NaN,NaN
9214,9272,1077,848,3,23,20,NaN,NaN,NaN
9234,9292,1078,839,214,31,20,NaN,NaN,NaN

In [80]:
df_qualifying_clean.loc[(df_qualifying_clean['q1'].isna()),'raceId' ].value_counts()[df_qualifying_clean.loc[(df_qualifying_clean['q1'].isna()),'raceId' ].value_counts() > 1]

256     24
84       4
88       3
90       3
96       3
87       2
91       2
93       2
108      2
998      2
1013     2
97       2
950      2
225      2
199      2
1026     2
105      2
71       2
1057     2
885      2
855      2
846      2
59       2
1059     2
123      2
910      2
106      2
82       2
Name: raceId, dtype: int64

In [81]:
df_qualifying_clean[df_qualifying_clean['raceId']==256]

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
2568,2570,256,71,3,5,1,NaN,NaN,NaN
2569,2571,256,14,3,6,2,NaN,NaN,NaN
2570,2572,256,30,22,1,3,NaN,NaN,NaN
2571,2573,256,77,6,28,4,NaN,NaN,NaN
2572,2574,256,55,6,27,5,NaN,NaN,NaN
2573,2575,256,49,15,30,6,NaN,NaN,NaN
2574,2576,256,22,17,14,7,NaN,NaN,NaN
2575,2577,256,65,22,2,8,NaN,NaN,NaN
2576,2578,256,56,17,15,9,NaN,NaN,NaN
2577,2579,256,87,1,7,10,NaN,NaN,NaN
2578,2580,256,84,27,25,11,NaN,NaN,NaN
2579,2581,256,44,27,26,12,NaN,NaN,NaN
2580,2582,256,81,29,9,13,NaN,NaN,NaN
2581,2583,256,63,25,4,14,NaN,NaN,NaN
2582,2584,256,69,18,24,15,NaN,NaN,NaN
2583,2585,256,79,25,3,16,NaN,NaN,NaN
2584,2586,256,83,18,23,17,NaN,NaN,NaN
2585,2587,256,91,15,29,18,NaN,NaN,NaN
2586,2588,256,89,29,10,19,NaN,NaN,NaN
2587,2589,256,90,28,22,20,NaN,NaN,NaN
2588,2590,256,64,28,21,21,NaN,NaN,NaN
2589,2591,256,85,30,16,22,NaN,NaN,NaN
2590,2592,256,92,30,16,23,NaN,NaN,NaN
2591,2593,256,57,1,8,24,NaN,NaN,NaN

In [82]:
df_races_weather_all_clean[df_races_weather_all_clean['raceId'] == 256]

,Unnamed: 0,raceId,year,circuitId,name,date,time,url,quali_date,quali_time,...,lng,race_temp,race_precip,race_humidity,race_condition,quali_temp,quali_precip,quali_humidity,quali_condition,race_weather_wiki
776,780,256,1995,29,Australian Grand Prix,1995-11-12,NaN,http://en.wikipedia.org/wiki/1995_Australian_G...,NaN,NaN,...,138.617,18.9,0.0,40.29,Clear,14.4,0.02,60.51,"Rain, Partially cloudy",Weather\nSunny[2]

In [83]:
df_qualifying_clean[df_qualifying_clean['raceId']==84]

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
1278,1279,84,8,1,9,1,1:26.797,NaN,NaN
1279,1280,84,21,4,6,2,1:27.039,NaN,NaN
1280,1281,84,4,4,5,3,1:27.050,NaN,NaN
1281,1282,84,31,1,10,4,1:27.352,NaN,NaN
1282,1283,84,15,7,16,5,1:27.501,NaN,NaN
1283,1284,84,2,3,8,6,1:27.929,NaN,NaN
1284,1285,84,17,3,7,7,1:27.944,NaN,NaN
1285,1286,84,13,15,12,8,1:28.419,NaN,NaN
1286,1287,84,23,7,17,9,1:28.594,NaN,NaN
1287,1288,84,32,9,15,10,1:28.963,NaN,NaN
1288,1289,84,22,6,2,11,1:29.369,NaN,NaN
1289,1290,84,14,9,14,12,1:29.764,NaN,NaN
1290,1291,84,18,16,3,13,1:30.063,NaN,NaN
1291,1292,84,11,16,4,14,1:30.175,NaN,NaN
1292,1293,84,33,17,18,15,1:30.710,NaN,NaN
1293,1294,84,27,18,21,16,1:32.186,NaN,NaN
1294,1295,84,38,18,20,17,NaN,NaN,NaN
1295,1296,84,35,15,11,18,NaN,NaN,NaN
1296,1297,84,39,17,19,19,NaN,NaN,NaN
1297,1298,84,30,6,1,20,NaN,NaN,NaN

In [84]:
df_races_weather_all_clean[df_races_weather_all_clean['raceId'] == 84]

,Unnamed: 0,raceId,year,circuitId,name,date,time,url,quali_date,quali_time,...,lng,race_temp,race_precip,race_humidity,race_condition,quali_temp,quali_precip,quali_humidity,quali_condition,race_weather_wiki
183,183,84,2005,5,Turkish Grand Prix,2005-08-21,15:00:00,http://en.wikipedia.org/wiki/2005_Turkish_Gran...,NaN,NaN,...,29.405,26.033333,0.0,56.603333,Partially cloudy,27.566667,0.0,43.206667,Partially cloudy,Weather\nSunny; 30°C Air; 45°C Track

In [85]:
df_qualifying_clean[df_qualifying_clean['raceId']==88]

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
1358,1359,88,23,7,17,1,1:46.106,NaN,NaN
1359,1360,88,18,16,3,2,1:46.141,NaN,NaN
1360,1361,88,21,4,6,3,1:46.276,NaN,NaN
1361,1362,88,32,9,15,4,1:46.464,NaN,NaN
1362,1363,88,11,16,4,5,1:46.841,NaN,NaN
1363,1364,88,14,9,14,6,1:46.892,NaN,NaN
1364,1365,88,17,3,7,7,1:47.233,NaN,NaN
1365,1366,88,35,15,11,8,1:47.440,NaN,NaN
1366,1367,88,22,6,2,9,1:48.248,NaN,NaN
1367,1368,88,13,15,12,10,1:48.278,NaN,NaN
1368,1369,88,39,17,19,11,1:48.718,NaN,NaN
1369,1370,88,42,3,8,12,1:48.898,NaN,NaN
1370,1371,88,27,18,21,13,1:50.843,NaN,NaN
1371,1372,88,30,6,1,14,1:52.676,NaN,NaN
1372,1373,88,38,18,20,15,1:52.894,NaN,NaN
1373,1374,88,4,4,5,16,1:54.667,NaN,NaN
1374,1375,88,8,1,9,17,2:02.309,NaN,NaN
1375,1376,88,31,1,10,18,NaN,NaN,NaN
1376,1377,88,15,7,16,19,NaN,NaN,NaN
1377,1378,88,33,17,18,20,NaN,NaN,NaN

In [86]:
df_races_weather_all_clean[df_races_weather_all_clean['raceId'] == 88]

,Unnamed: 0,raceId,year,circuitId,name,date,time,url,quali_date,quali_time,...,lng,race_temp,race_precip,race_humidity,race_condition,quali_temp,quali_precip,quali_humidity,quali_condition,race_weather_wiki
469,470,88,2005,22,Japanese Grand Prix,2005-10-09,14:00:00,http://en.wikipedia.org/wiki/2005_Japanese_Gra...,NaN,NaN,...,136.541,23.233333,0.0,50.78,Clear,21.333333,0.0,91.426667,Clear,Weather\nPartially cloudy and dry with tempera...

In [87]:
url= 'https://www.formula1.com/en/results.html/1995/races/637/australia/qualifying-0.html'
page = requests.get(url)
df_q3 = pd.read_html(page.content)[0]

url= 'https://www.formula1.com/en/results.html/1995/races/637/australia/qualifying-1.html'
page = requests.get(url)
df_q1 = pd.read_html(page.content)[0]
url= 'https://www.formula1.com/en/results.html/1995/races/637/australia/qualifying-2.html'
page = requests.get(url)
df_q2 = pd.read_html(page.content)[0]
# %%
df_q3.drop(columns=['Unnamed: 0','Unnamed: 7'],axis=0,inplace=True)
df_q2.drop(columns=['Unnamed: 0','Unnamed: 7'],axis=0,inplace=True)
df_q1.drop(columns=['Unnamed: 0','Unnamed: 7'],axis=0,inplace=True)

In [88]:
df_qualifying_clean[df_qualifying_clean['raceId']==256]

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
2568,2570,256,71,3,5,1,NaN,NaN,NaN
2569,2571,256,14,3,6,2,NaN,NaN,NaN
2570,2572,256,30,22,1,3,NaN,NaN,NaN
2571,2573,256,77,6,28,4,NaN,NaN,NaN
2572,2574,256,55,6,27,5,NaN,NaN,NaN
2573,2575,256,49,15,30,6,NaN,NaN,NaN
2574,2576,256,22,17,14,7,NaN,NaN,NaN
2575,2577,256,65,22,2,8,NaN,NaN,NaN
2576,2578,256,56,17,15,9,NaN,NaN,NaN
2577,2579,256,87,1,7,10,NaN,NaN,NaN
2578,2580,256,84,27,25,11,NaN,NaN,NaN
2579,2581,256,44,27,26,12,NaN,NaN,NaN
2580,2582,256,81,29,9,13,NaN,NaN,NaN
2581,2583,256,63,25,4,14,NaN,NaN,NaN
2582,2584,256,69,18,24,15,NaN,NaN,NaN
2583,2585,256,79,25,3,16,NaN,NaN,NaN
2584,2586,256,83,18,23,17,NaN,NaN,NaN
2585,2587,256,91,15,29,18,NaN,NaN,NaN
2586,2588,256,89,29,10,19,NaN,NaN,NaN
2587,2589,256,90,28,22,20,NaN,NaN,NaN
2588,2590,256,64,28,21,21,NaN,NaN,NaN
2589,2591,256,85,30,16,22,NaN,NaN,NaN
2590,2592,256,92,30,16,23,NaN,NaN,NaN
2591,2593,256,57,1,8,24,NaN,NaN,NaN

In [89]:
q1_times = df_qualifying_clean.loc[df_qualifying_clean['raceId']==256,['q1','number']].merge(df_q1[['Time','No']],left_on='number',right_on='No')['Time']
df_qualifying_clean.loc[df_qualifying_clean['raceId']==256,'q1'] = q1_times.values

In [90]:
q2_times = df_qualifying_clean[df_qualifying_clean['raceId']==256].merge(df_q2[['Time','No']],left_on='number',right_on='No',how='left')['Time']
df_qualifying_clean.loc[df_qualifying_clean['raceId']==256,'q2'] = q2_times.values

In [91]:
q3_times = df_qualifying_clean[df_qualifying_clean['raceId']==256].merge(df_q3[['Time','No']],left_on='number',right_on='No',how='left')['Time']
df_qualifying_clean.loc[df_qualifying_clean['raceId']==256,'q3'] = q3_times.values

In [92]:
df_qualifying_clean[df_qualifying_clean['raceId']==256]

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
2568,2570,256,71,3,5,1,1:15.505,1:15.988,1:15.505
2569,2571,256,14,3,6,2,1:15.628,1:15.792,1:15.628
2570,2572,256,30,22,1,3,1:16.039,1:15.839,1:15.839
2571,2573,256,77,6,28,4,1:15.932,1:16.994,1:15.932
2572,2574,256,55,6,27,5,32:21.400,1:16.305,1:16.305
2573,2575,256,49,15,30,6,1:16.837,1:16.647,1:16.647
2574,2576,256,22,17,14,7,1:16.725,1:16.971,1:16.725
2575,2577,256,65,22,2,8,1:17.289,1:16.950,1:16.950
2576,2578,256,56,17,15,9,1:17.197,1:17.116,1:17.116
2577,2579,256,87,1,7,10,1:17.348,1:17.721,1:17.348
2578,2580,256,84,27,25,11,1:17.788,1:17.624,1:17.624
2579,2581,256,44,27,26,12,1:18.033,1:18.065,1:18.033
2580,2582,256,81,29,9,13,1:18.814,1:18.391,1:18.391
2581,2583,256,63,25,4,14,1:18.604,1:19.083,1:18.604
2582,2584,256,69,18,24,15,1:19.285,1:18.810,1:18.810
2583,2585,256,79,25,3,16,1:18.828,1:19.114,1:18.828
2584,2586,256,83,18,23,17,1:18.875,1:19.484,1:18.875
2585,2587,256,91,15,29,18,1:19.561,NaN,1:19.561
2586,2588,256,89,29,10,19,1:19.764,1:19.677,1:19.677
2587,2589,256,90,28,22,20,1:21.419,1:20.657,1:20.657
2588,2590,256,64,28,21,21,1:22.154,1:20.878,1:20.878
2589,2591,256,85,30,16,22,1:22.881,1:21.998,1:21.998
2590,2592,256,92,30,16,23,1:22.881,1:21.998,1:21.998
2591,2593,256,57,1,8,24,1:37.998,NaN,1:37.998

In [93]:
df_qualifying_clean.drop(columns=['number'],inplace=True)

Clean up races and weather data

In [94]:
df_races_clean = f1_data['df_races'].copy()
df_races_weather_clean = f1_data['df_races_weather_all'].copy()

In [95]:
cols=['raceId','fp1_date', 'fp1_time', 'fp2_date', 'fp2_time', 'fp3_date', 'fp3_time']
df_races_weather_clean= df_races_weather_clean.merge(df_races_clean[cols],left_on='raceId',right_on='raceId')
df_races_weather_clean.head()

,Unnamed: 0,raceId,year,circuitId,name,date,time,url,quali_date,quali_time,...,quali_precip,quali_humidity,quali_condition,race_weather_wiki,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time
0,0,1,2009,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,NaN,NaN,...,0.000000,88.042500,Clear,Weather\nSunny with temperatures reaching up t...,NaN,NaN,NaN,NaN,NaN,NaN
1,1,18,2008,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...,NaN,NaN,...,0.000000,90.102500,Partially cloudy,"Weather\nClear, dry, air temperature of 39 °C ...",NaN,NaN,NaN,NaN,NaN,NaN
2,2,36,2007,1,Australian Grand Prix,2007-03-18,03:00:00,http://en.wikipedia.org/wiki/2007_Australian_G...,NaN,NaN,...,0.000000,82.990000,Clear,Weather\nClear with temperatures reaching up t...,NaN,NaN,NaN,NaN,NaN,NaN
3,3,55,2006,1,Australian Grand Prix,2006-04-02,14:00:00,http://en.wikipedia.org/wiki/2006_Australian_G...,NaN,NaN,...,0.090000,49.036667,Partially cloudy,Weather\nCloudy with sunny breaks. Air tempera...,NaN,NaN,NaN,NaN,NaN,NaN
4,4,71,2005,1,Australian Grand Prix,2005-03-06,14:00:00,http://en.wikipedia.org/wiki/2005_Australian_G...,NaN,NaN,...,1.586667,58.243333,Partially cloudy,"Weather\nCool, partly cloudy",NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
df_races_weather_clean['race_weather_wiki'] = df_races_weather_clean['race_weather_wiki'].str.split('\n| ').str[1:3].apply(lambda x: ' '.join(x))

In [97]:
conditions = df_races_weather_clean['race_weather_wiki'].unique()

In [98]:
weather_dict={}
for con in conditions:
    if re.search('wet|rain|damp|pioggia|showers|piovoso|drizzly',con.lower()) != None:
        weather_dict[con] = 'wet'
    else:
        weather_dict[con]= 'dry'

In [99]:
weather_dict

{'Sunny with': 'dry',
 'Clear, dry,': 'dry',
 'Clear with': 'dry',
 'Cloudy with': 'dry',
 'Cool, partly': 'dry',
 'Dry and': 'dry',
 'Damp at': 'wet',
 'Cloudy at': 'dry',
 'Cloudy, sunny': 'dry',
 'Sunny,[2] Air': 'dry',
 'Sunny and': 'dry',
 'Partly Cloudy,': 'dry',
 'Dry with': 'dry',
 'Overcast with': 'dry',
 'Sunny, 18°C': 'dry',
 'Fine[1] Air': 'dry',
 'Scattered Clouds,': 'dry',
 'Overcast, 19\xa0°C(66\xa0°F)': 'dry',
 'Partly cloudy17–18\xa0°C': 'dry',
 'Partly cloudy22–23\xa0°C': 'dry',
 'Partly cloudy24\xa0°C': 'dry',
 'Sunny': 'dry',
 'Sereno': 'dry',
 'Partly cloudy': 'dry',
 'Dry start,': 'dry',
 'Sunny, partly': 'dry',
 'Sunny[1]': 'dry',
 'Fine, Air': 'dry',
 'Fine, Air:': 'dry',
 'Dry, light': 'dry',
 'Fine, air': 'dry',
 'Partially cloudy,': 'dry',
 'Rain and': 'wet',
 'Overcast, Very': 'dry',
 'Cloudy, hot,': 'dry',
 'Mainly cloudy,': 'dry',
 'Cloudy, dry': 'dry',
 'Heavy rain': 'wet',
 'Light rain': 'wet',
 'Dry, 32°C': 'dry',
 'Sunny32–33\xa0°C (90–91\xa0°F)': 'dry',
 'Sunny33\xa0°C (91\xa0°F)': 'dry',
 'Cloudy': 'dry',
 'Rain': 'wet',
 'Dry': 'dry',
 'Intermittent light': 'dry',
 'Cloudy, wet': 'wet',
 'Cloudy, rain': 'wet',
 'Fine and': 'dry',
 'Overcast but': 'dry',
 'Mostly cloudy,': 'dry',
 'Sunny21\xa0°C (70\xa0°F)': 'dry',
 'Soleggiato': 'dry',
 'Nuvoloso': 'dry',
 'Sunny, dry,': 'dry',
 'Fine, Dry': 'dry',
 'Sunny, 42\xa0°C': 'dry',
 'Warm, dry': 'dry',
 'Sunny, clear24–26\xa0°C': 'dry',
 'Dry21–22\xa0°C (70–72\xa0°F)': 'dry',
 'Clear': 'dry',
 'Clear, 21\xa0°C': 'dry',
 'Warm, Sunny': 'dry',
 'Sunny, warm': 'dry',
 'Clear, Air': 'dry',
 'Overcast, Mild,': 'dry',
 'Sunny, Mild,': 'dry',
 'Dry at': 'dry',
 'Warm and': 'dry',
 'Mainly sunny,': 'dry',
 'Sunny25\xa0°C (77\xa0°F)': 'dry',
 'Partly cloudy20–22\xa0°C': 'dry',
 'Partially cloudy': 'dry',
 'Wet, drying': 'wet',
 'Cloudy, air': 'dry',
 'Fine': 'dry',
 'Fine; air': 'dry',
 'Sunny, hot,': 'dry',
 'Hot and': 'dry',
 'Overcast, cold': 'dry',
 'Overcast, mild,': 'dry',
 'Warm, sunny': 'dry',
 'Partly cloudy,': 'dry',
 'Cloudy, mild,': 'dry',
 'Warm, dry,': 'dry',
 'Sunny, mild,': 'dry',
 'Wet track': 'wet',
 'Dry, then': 'dry',
 'Rain, later': 'wet',
 'Wet': 'wet',
 'Overcast': 'dry',
 '': 'dry',
 'Coperto': 'dry',
 'Pioggia': 'wet',
 'Hot, clear': 'dry',
 'Sunny, Fine': 'dry',
 'Overcast, Air:': 'dry',
 'Partly cloudy18–19\xa0°C': 'dry',
 'Rainy at': 'wet',
 'Sunny, hot': 'dry',
 'Sunny; 30°C': 'dry',
 'Air: 28': 'dry',
 'Overcast. Wet': 'wet',
 'Dry, overcast': 'dry',
 'Sunny, Air:': 'dry',
 'Cloudy, Air:': 'dry',
 'Sunny at': 'dry',
 'Dry/Wet, Air': 'wet',
 'Rain, Wet': 'wet',
 'Sunny, Dry': 'dry',
 'Warm, cloudy,': 'dry',
 'Hot, dry,': 'dry',
 'Mainly sunny': 'dry',
 'Wet and': 'wet',
 'Cool, overcast': 'dry',
 'Sunny, then': 'dry',
 'Overcast, dry': 'dry',
 'Dry, overcast.': 'dry',
 'Cold, wet': 'wet',
 'Overcast, showers': 'wet',
 'Overcast, dry.': 'dry',
 'Mild, Dry': 'dry',
 'DryAir Temp': 'dry',
 'Mostly cloudy': 'dry',
 'Wet at': 'wet',
 'Sunny 27.0\xa0°C': 'dry',
 'Clear. Ambient:': 'dry',
 'Heavy Rain': 'wet',
 'Mainly Fine,': 'dry',
 'Wet/Dry': 'wet',
 'Cloudy, cold,': 'dry',
 'Cloudy, but': 'dry',
 'Rain at': 'wet',
 'Hazy, Wet': 'wet',
 'Overcast and': 'dry',
 'Sunny, dry': 'dry',
 'Cloudy, (light)': 'dry',
 'Sunny25\xa0°C (77\xa0°F)[3]': 'dry',
 'Sunny; Air': 'dry',
 'Sunny, temperatures': 'dry',
 'Cool and': 'dry',
 'Hot, dry': 'dry',
 'Hot dry,': 'dry',
 'Mainly sunny28\xa0°C': 'dry',
 'Very hot': 'dry',
 'Sunny22–24\xa0°C (72–75\xa0°F)': 'dry',
 'Dry[3]': 'dry',
 'Clear, Fine': 'dry',
 'Clear but': 'dry',
 'Cold and': 'dry',
 'Wet, then': 'wet',
 'Cloudy, then': 'dry',
 'Overcast, brief': 'dry',
 'Intermittent rain': 'wet',
 'Wet, cloudy,': 'wet',
 'Cloudy and': 'dry',
 'Wet/Dry, drying': 'wet',
 'Overcast, Dry': 'dry',
 'Cloudy23\xa0°C (73\xa0°F)': 'dry',
 'Parzialmente nuvoloso': 'dry',
 'Wet, persistent': 'wet',
 'Heavy rain,': 'wet',
 'Soleggiato poi': 'dry',
 'Hot, Dry': 'dry',
 'Dry, with': 'dry',
 'Cloudy, warm,': 'dry',
 'Warm, hot': 'dry',
 'Sunny; Air:': 'dry',
 'Dry, Air': 'dry',
 'Clear; Air': 'dry',
 'Clear. Air:': 'dry',
 'Dry28–29\xa0°C (82–84\xa0°F)': 'dry',
 'Clear30\xa0°C (86\xa0°F)': 'dry',
 'Slightly hazy': 'dry',
 'Dry/wet': 'wet',
 'Sunny[3]': 'dry',
 'Sunny, mild': 'dry',
 'Dry/wet, warm,': 'wet',
 'Dry, warm,': 'dry',
 'Rain. Air:': 'wet',
 'Partly cloudy27\xa0°C': 'dry',
 '37\xa0°C (Air),': 'dry',
 'Temperatures reaching': 'dry',
 'Cloudy, dry,': 'dry',
 'Dry/Wet': 'wet',
 'Rainy: 20\xa0°C': 'wet',
 'Dry first,': 'dry',
 'Thunderstorm, then': 'dry',
 'Dry first': 'dry',
 'Clear; 25\xa0°C': 'dry',
 'Fine ': 'dry',
 'Race start:': 'dry',
 'Cloudy, Air': 'dry',
 'Dry22–28\xa0°C (72–82\xa0°F)': 'dry',
 'Dry[3] Air': 'dry',
 'Dry[2] Air': 'dry',
 'Clear skies;': 'dry',
 'Clear25–27\xa0°C (77–81\xa0°F)': 'dry',
 'Hot with': 'dry',
 'Warm with': 'dry',
 'Clear and': 'dry',
 'Mostly fine': 'dry',
 'Mostly sunny': 'dry',
 'Temperatures approaching': 'dry',
 'Mild with': 'dry',
 'Mostly cloudy5\xa0°C': 'dry',
 'Fine, dry': 'dry',
 'Temperatures up': 'dry',
 'Sunny20–21\xa0°C (68–70\xa0°F)': 'dry',
 'Cloudy12\xa0°C (54\xa0°F)': 'dry',
 'Cloudy, light': 'dry',
 'Cloudy, later': 'dry',
 'Cloudy but': 'dry',
 'Sunny, 28\xa0°C': 'dry',
 'Warm, cloudy': 'dry',
 'Wet /': 'wet',
 'Early rain,': 'wet',
 'Very heavy': 'dry',
 'Very wet': 'wet',
 'Warm (33C/91F)': 'dry',
 'Cloudy, temperatures': 'dry',
 'Fine with': 'dry',
 'Scattered showers': 'wet',
 'Sunny, cool,': 'dry',
 'Cloudy, drying,': 'dry',
 'Slightly overcast,': 'dry',
 'Extremely hot': 'dry',
 'Rainy': 'wet',
 'Clear, air': 'dry',
 'Scattered thunderstorms,': 'dry',
 'Sunny. Air': 'dry',
 'Sunny, 25\xa0°C': 'dry',
 'Cloudy, Dry,': 'dry',
 'Overcast, warm': 'dry',
 'Rain, cold': 'wet',
 'Cloudy in': 'dry',
 'Piovoso': 'wet',
 'Cloudy14–15\xa0°C (57–59\xa0°F)': 'dry',
 'Sunny, 36C': 'dry',
 'Partly cloudy.': 'dry',
 'Sunny, Very': 'dry',
 'Variabile': 'dry',
 'Overcast, wet': 'wet',
 'Dry, hot,': 'dry',
 'Dry, sunny,': 'dry',
 'Gara interrotta': 'dry',
 'Overcast, Cold,': 'dry',
 'Sunny[2]': 'dry',
 'Torrential rain': 'wet',
 'Wet, cool': 'wet',
 'Sunny, Hot,': 'dry',
 'Very hot,': 'dry',
 'Very cold,': 'dry',
 'Scattered Clouds27\xa0°C': 'dry',
 'Mostly Cloudy24\xa0°C': 'dry',
 'Overcast21\xa0°C (70\xa0°F)[1]': 'dry',
 'Warm, clear': 'dry',
 'Partly cloudy22–24\xa0°C': 'dry',
 'Overcast25\xa0°C (77\xa0°F)[1]': 'dry',
 'Hot, sunny;': 'dry',
 'Dry, hot[2]': 'dry',
 'Dry, grey': 'dry',
 'Windy and': 'dry',
 'Rain; Air': 'wet',
 'Dry, 34\xa0°C': 'dry',
 'Overcast, Fresh,': 'dry',
 'position Giro': 'dry',
 'Showers': 'wet',
 'Drizzly': 'wet',
 'Cold with': 'dry',
 'Scattered clouds': 'dry',
 'Rain with': 'wet',
 'Partly sunny': 'dry',
 'Clear, warm': 'dry',
 'Cool, dry': 'dry',
 'Rainy, windy,': 'wet',
 'Rainy and': 'wet',
 'Rainy with': 'wet',
 'Dry, windy': 'dry',
 'Torrential rain,': 'wet',
 'Hot, dry.[1]': 'dry',
 'Sunny, very': 'dry',
 'Overcast, rain': 'wet',
 'Fine, Dry,': 'dry',
 'Sunny, haze': 'dry',
 'Scattered clouds[2][3]Air': 'dry',
 'Very cloudy17\xa0°C': 'dry',
 'Partly cloudy18\xa0°C': 'dry',
 'Partly cloudy16\xa0°C': 'dry',
 'Partly cloudy30–33\xa0°C': 'dry',
 'Light cloud': 'dry',
 'Warm, partly': 'dry'}

In [100]:
df_races_weather_clean['race_condition_wiki'] = df_races_weather_clean['race_weather_wiki'].map(weather_dict)

In [101]:
(df_races_weather_clean['race_condition_wiki'] .isna()).sum()

0

In [102]:
(df_races_weather_clean['race_condition'] .isna()).sum()

208

Keep the complete wiki weather database, drop the weather api conditions

In [103]:
quali_conditions=df_races_weather_clean['quali_condition'].unique()

In [104]:
weather_dict={}
for con in list(pd.Series(quali_conditions).dropna().values):
    if re.search('wet|rain|damp|pioggia|showers|piovoso|drizzly|snow',con.lower()) != None:
        weather_dict[con] = 'wet'
    else:
        weather_dict[con]= 'dry'

In [105]:
df_races_weather_clean['quali_condition_clean'] = df_races_weather_clean['quali_condition'].map(weather_dict)

In [106]:
(df_races_weather_clean['quali_condition'].isna()).sum()

207

In [107]:
(df_races_weather_clean['quali_condition_clean'].isna()).sum()

207

Keep the cleaned quali condition, drop the original

In [108]:
df_races_weather_clean.drop(columns=['race_weather_wiki','race_condition','quali_condition', 'Unnamed: 0'],axis=0,inplace=True)

In [109]:
df_races_weather_clean.head()

,raceId,year,circuitId,name,date,time,url,quali_date,quali_time,sprint_date,...,quali_precip,quali_humidity,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,race_condition_wiki,quali_condition_clean
0,1,2009,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,NaN,NaN,NaN,...,0.000000,88.042500,NaN,NaN,NaN,NaN,NaN,NaN,dry,dry
1,18,2008,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...,NaN,NaN,NaN,...,0.000000,90.102500,NaN,NaN,NaN,NaN,NaN,NaN,dry,dry
2,36,2007,1,Australian Grand Prix,2007-03-18,03:00:00,http://en.wikipedia.org/wiki/2007_Australian_G...,NaN,NaN,NaN,...,0.000000,82.990000,NaN,NaN,NaN,NaN,NaN,NaN,dry,dry
3,55,2006,1,Australian Grand Prix,2006-04-02,14:00:00,http://en.wikipedia.org/wiki/2006_Australian_G...,NaN,NaN,NaN,...,0.090000,49.036667,NaN,NaN,NaN,NaN,NaN,NaN,dry,dry
4,71,2005,1,Australian Grand Prix,2005-03-06,14:00:00,http://en.wikipedia.org/wiki/2005_Australian_G...,NaN,NaN,NaN,...,1.586667,58.243333,NaN,NaN,NaN,NaN,NaN,NaN,dry,dry

In [110]:
df_races_weather_clean.columns

Index(['raceId', 'year', 'circuitId', 'name', 'date', 'time', 'url',
       'quali_date', 'quali_time', 'sprint_date', 'sprint_time', 'lat', 'lng',
       'race_temp', 'race_precip', 'race_humidity', 'quali_temp',
       'quali_precip', 'quali_humidity', 'fp1_date', 'fp1_time', 'fp2_date',
       'fp2_time', 'fp3_date', 'fp3_time', 'race_condition_wiki',
       'quali_condition_clean'],
      dtype='object')

In [111]:
df_races_weather_clean.race_condition_wiki.value_counts()

dry    967
wet    106
Name: race_condition_wiki, dtype: int64

In [112]:
df_races_weather_clean.quali_condition_clean.value_counts()

dry    672
wet    194
Name: quali_condition_clean, dtype: int64

In [113]:
df_results_clean=f1_data['df_results'].copy()

In [114]:
df_results_clean[df_results_clean.isna().any(axis=1)]

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
5,6,18,6,3,8,13,6,6,6,3.0,57,NaN,NaN,50,14,1:29.639,212.974,11
6,7,18,7,5,14,17,7,7,7,2.0,55,NaN,NaN,22,12,1:29.534,213.224,5
7,8,18,8,6,1,15,8,8,8,1.0,53,NaN,NaN,20,4,1:27.903,217.180,5
8,9,18,9,2,4,2,NaN,R,9,0.0,47,NaN,NaN,15,9,1:28.753,215.100,4
9,10,18,10,7,12,18,NaN,R,10,0.0,43,NaN,NaN,23,13,1:29.558,213.166,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25715,25721,1089,825,210,20,16,16,16,16,0.0,52,NaN,NaN,37,16,1:26.798,240.268,11
25716,25722,1089,817,1,3,4,NaN,R,17,0.0,45,NaN,NaN,39,12,1:26.603,240.809,44
25717,25723,1089,840,117,18,12,NaN,R,18,0.0,39,NaN,NaN,34,19,1:27.467,238.430,5
25718,25724,1089,4,214,14,6,NaN,R,19,0.0,31,NaN,NaN,7,18,1:27.203,239.152,34
25719,25725,1089,20,117,5,11,NaN,R,20,0.0,10,NaN,NaN,4,20,1:27.501,238.337,5

In [115]:
(df_results_clean.time.isna()).sum()/len(df_results_clean)*100

72.75272161741835

In [116]:
(df_results_clean.position.isna()).sum()/len(df_results_clean)*100

42.12674961119751

In [117]:
df_results_clean.positionOrder.dtype

dtype('int64')

In [118]:
(df_results_clean.positionOrder.isna()).sum()/len(df_results_clean)*100

0.0

PositionText, position and position Order replicate themselves for now will keep PositionOrder and positionText as can decided to change Retired to joint last if I would like later. Number is the driver number and is in the driver database. Time is repitition of milliseconds, so can drop time

In [119]:
df_results_clean.drop(columns=['number','position','time'],axis=0,inplace=True)

In [120]:
df_seasons_clean=f1_data['df_seasons'].copy()
df_seasons_clean.head()

   year                                                url
0  2009  http://en.wikipedia.org/wiki/2009_Formula_One_...
1  2008  http://en.wikipedia.org/wiki/2008_Formula_One_...
2  2007  http://en.wikipedia.org/wiki/2007_Formula_One_...
3  2006  http://en.wikipedia.org/wiki/2006_Formula_One_...
4  2005  http://en.wikipedia.org/wiki/2005_Formula_One_...

In [121]:
df_sprint_results_clean=f1_data['df_sprint_results'].copy()
df_sprint_results_clean.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,statusId
0,1,1061,830,9,33,2,1,1,1,3,17,25:38.426,1538426,14,1:30.013,1
1,2,1061,1,131,44,1,2,2,2,2,17,+1.430,1539856,17,1:29.937,1
2,3,1061,822,131,77,3,3,3,3,1,17,+7.502,1545928,17,1:29.958,1
3,4,1061,844,6,16,4,4,4,4,0,17,+11.278,1549704,16,1:30.163,1
4,5,1061,846,1,4,6,5,5,5,0,17,+24.111,1562537,16,1:30.566,1

Number is driver code in the driver database, same as results position Order and position Text hold the relevant position data. Time and miliseconds repeat each other. Drop time

In [122]:
df_sprint_results_clean.drop(columns=['position','time','number'],inplace=True)

In [123]:
df_status_clean=f1_data['df_status'].copy()
df_status_clean.head()

   statusId        status
0         1      Finished
1         2  Disqualified
2         3      Accident
3         4     Collision
4         5        Engine

## Merge dataframe into one complete dataframe minus laptime and pitstops which will check with fast f1 dataset first

In [124]:
df_races_weather_clean.head()

,raceId,year,circuitId,name,date,time,url,quali_date,quali_time,sprint_date,...,quali_precip,quali_humidity,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,race_condition_wiki,quali_condition_clean
0,1,2009,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,NaN,NaN,NaN,...,0.000000,88.042500,NaN,NaN,NaN,NaN,NaN,NaN,dry,dry
1,18,2008,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...,NaN,NaN,NaN,...,0.000000,90.102500,NaN,NaN,NaN,NaN,NaN,NaN,dry,dry
2,36,2007,1,Australian Grand Prix,2007-03-18,03:00:00,http://en.wikipedia.org/wiki/2007_Australian_G...,NaN,NaN,NaN,...,0.000000,82.990000,NaN,NaN,NaN,NaN,NaN,NaN,dry,dry
3,55,2006,1,Australian Grand Prix,2006-04-02,14:00:00,http://en.wikipedia.org/wiki/2006_Australian_G...,NaN,NaN,NaN,...,0.090000,49.036667,NaN,NaN,NaN,NaN,NaN,NaN,dry,dry
4,71,2005,1,Australian Grand Prix,2005-03-06,14:00:00,http://en.wikipedia.org/wiki/2005_Australian_G...,NaN,NaN,NaN,...,1.586667,58.243333,NaN,NaN,NaN,NaN,NaN,NaN,dry,dry

In [125]:
df_circuits_clean.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [126]:
df_combined_clean = df_races_weather_clean.merge(df_circuits_clean,left_on='circuitId',right_on='circuitId')
df_combined_clean.columns

Index(['raceId', 'year', 'circuitId', 'name_x', 'date', 'time', 'url_x',
       'quali_date', 'quali_time', 'sprint_date', 'sprint_time', 'lat_x',
       'lng_x', 'race_temp', 'race_precip', 'race_humidity', 'quali_temp',
       'quali_precip', 'quali_humidity', 'fp1_date', 'fp1_time', 'fp2_date',
       'fp2_time', 'fp3_date', 'fp3_time', 'race_condition_wiki',
       'quali_condition_clean', 'circuitRef', 'name_y', 'location', 'country',
       'lat_y', 'lng_y', 'alt', 'url_y'],
      dtype='object')

In [127]:
df_combined_clean.drop(columns=['url_x','lat_y','lng_y','url_y'],axis=0,inplace=True)

In [128]:
df_qualifying_clean.rename(columns={'position':'quali_position'},inplace=True)
df_combined_clean= df_combined_clean.merge(df_qualifying_clean,left_on='raceId',right_on='raceId')

In [129]:
df_sprint_results_clean

,resultId,raceId,driverId,constructorId,grid,positionText,positionOrder,points,laps,milliseconds,fastestLap,fastestLapTime,statusId
0,1,1061,830,9,2,1,1,3,17,1538426,14,1:30.013,1
1,2,1061,1,131,1,2,2,2,17,1539856,17,1:29.937,1
2,3,1061,822,131,3,3,3,1,17,1545928,17,1:29.958,1
3,4,1061,844,6,4,4,4,0,17,1549704,16,1:30.163,1
4,5,1061,846,1,6,5,5,0,17,1562537,16,1:30.566,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,1084,848,3,11,16,16,0,23,1642471,5,1:10.367,1
96,97,1084,852,213,14,17,17,0,23,1644615,4,1:10.267,1
97,98,1084,849,3,19,18,18,0,23,1658753,4,1:10.284,1
98,99,1084,20,117,20,19,19,0,21,NaN,4,1:10.317,130
99,100,1084,4,214,8,N,20,0,0,NaN,NaN,NaN,10

In [130]:
df_sprint_results_clean= df_sprint_results_clean.merge(df_status_clean,left_on='statusId',right_on='statusId')
df_sprint_results_clean.drop(columns='statusId',axis=0,inplace=True)

In [131]:
mapper_cols = {'grid':'grid_sprint','positionText':'positionText_sprint', 'positionOrder': 'positionOrder_sprint', 'points':'points_sprint', 'laps': 'laps_sprint','milliseconds' :'milliseconds_sprint', 'fastestLap' :'fastestLap_sprint', 'fastestLapTime': 'fastestLapTime_sprint','status':'status_sprint'}

In [132]:
df_sprint_results_clean.rename(columns= mapper_cols,inplace=True)

In [133]:
df_combined_clean= df_combined_clean.merge(df_sprint_results_clean,on=['raceId','driverId','constructorId'], how='left')

In [134]:
df_results_clean= df_results_clean.merge(df_status_clean,left_on='statusId',right_on='statusId')
df_results_clean.drop(columns='statusId',axis=0,inplace=True)

In [135]:
df_combined_clean= df_combined_clean.merge(df_results_clean,on=['raceId','driverId','constructorId'], how='left')

In [136]:
df_driver_standings_clean.columns

Index(['driverStandingsId', 'raceId', 'driverId', 'points', 'position',
       'wins'],
      dtype='object')

In [137]:
mapper_drivers = {'points':'points_drivers', 'position':'position_drivers',
       'wins':'wins_drivers'}

In [138]:
df_driver_standings_clean.rename(columns= mapper_drivers,inplace=True)

In [139]:
df_combined_clean= df_combined_clean.merge(df_driver_standings_clean,on=['raceId','driverId'], how='left')

In [140]:
df_constructor_standings_clean.columns

Index(['constructorStandingsId', 'raceId', 'constructorId', 'points',
       'position', 'wins'],
      dtype='object')

In [141]:
mapper_constructors = {'points':'points_constructors', 'position':'position_constructors',
       'wins':'wins_constructors'}

In [142]:
df_constructor_standings_clean.rename(columns= mapper_constructors,inplace=True)

In [143]:
df_combined_clean=df_combined_clean.merge(df_constructor_standings_clean,on=['raceId','constructorId'], how='left')

In [144]:
df_constructor_results_clean.columns

Index(['constructorResultsId', 'raceId', 'constructorId', 'points'], dtype='object')

In [145]:
mapper_cons_results={'points':'points_constructor_ind_races'}

In [146]:
df_constructor_results_clean.rename(columns= mapper_cons_results,inplace=True)

In [147]:
df_combined_clean=df_combined_clean.merge(df_constructor_results_clean,on=['raceId','constructorId'], how='left')

In [148]:
df_drivers_clean.columns

Index(['driverId', 'driverRef', 'number', 'dob', 'nationality', 'url'], dtype='object')

In [149]:
df_drivers_clean_tomerge=df_drivers_clean[['driverId', 'driverRef', 'number', 'dob', 'nationality']].copy()

In [150]:
mapper_drivers_id={'nationality':'nationality_drivers'}

In [151]:
df_drivers_clean_tomerge.rename(columns= mapper_drivers_id,inplace=True)

In [152]:
df_combined_clean=df_combined_clean.merge(df_drivers_clean_tomerge,on=['driverId'], how='left')

In [153]:
df_constructors_clean.columns

Index(['constructorId', 'constructorRef', 'nationality', 'url'], dtype='object')

In [154]:
mapper_cons_id={'nationality':'nationality_constructors'}

In [155]:
df_constructors_clean_tomerge=df_constructors_clean[['constructorId', 'constructorRef', 'nationality']].copy()

In [156]:
df_constructors_clean_tomerge.rename(columns= mapper_cons_id,inplace=True)

In [157]:
df_combined_clean=df_combined_clean.merge(df_constructors_clean_tomerge,on=['constructorId'], how='left')

In [3]:
df_combined_clean.nationality_drivers.unique()

array(['British', 'Brazilian', 'German', 'Polish', 'Italian', 'Finnish',
       'Australian', 'Spanish', 'Japanese', 'Swiss', 'French', 'Austrian',
       'American', 'Dutch', 'Colombian', 'Canadian', 'Portuguese',
       'Indian', 'Hungarian', 'Irish', 'Argentine', 'Danish', 'Russian',
       'Mexican', 'Venezuelan', 'Belgian', 'Swedish', 'Indonesian',
       'New Zealander', 'Monegasque', 'Thai', 'Chinese', 'Malaysian',
       'Czech'], dtype=object)

In [4]:
df_combined_clean.nationality_constructors.unique()

array(['British', 'Austrian', 'German', 'Japanese', 'Italian', 'French',
       'Indian', 'Dutch', 'Russian', 'Swiss', 'Irish', 'Malaysian',
       'Spanish', 'American'], dtype=object)

In [5]:
df_combined_clean.country.unique()

array(['Australia', 'Malaysia', 'China', 'Bahrain', 'Spain', 'Monaco',
       'Turkey', 'UK', 'Germany', 'Hungary', 'Belgium', 'Italy',
       'Singapore', 'Japan', 'Brazil', 'UAE', 'Canada', 'France', 'USA',
       'Austria', 'Argentina', 'Portugal', 'Mexico', 'Korea',
       'Netherlands', 'India', 'Russia', 'Azerbaijan', 'Qatar',
       'Saudi Arabia'], dtype=object)

In [6]:
nationality_to_nation ={'British':'UK', 'Brazilian':'Brazil', 'German':'Germany', 
'Polish' : 'Poland', 'Italian' : 'Italy', 'Finnish':'Finland',
'Australian':'Australia', 'Spanish':'Spain', 'Japanese':'Japan', 'Swiss':'Switzerland',
'French':'France', 'Austrian':'Austria', 'American':'USA', 'Dutch':'Netherlands',
'Colombian':'Columbia', 'Canadian':'Canada', 'Portuguese':'Portugal',
'Indian':'India', 'Hungarian':'Hungary', 'Irish':'Ireland', 'Argentine':'Argentina', 'Danish':'Denmark', 
'Russian':'Russia','Mexican':'Mexico', 'Venezuelan':'Venezuela', 'Belgian':'Belgium', 'Swedish':'Sweden', 
'Indonesian':'Indonesia','New Zealander': 'New Zealand', 'Monegasque':'Monaco', 'Thai':'Thailand',
 'Chinese': 'China', 'Malaysian':'Malaysia','Czech':'Czech Republic'}

In [7]:
df_combined_clean['nationality_constructors']=df_combined_clean.nationality_constructors.map(nationality_to_nation)
df_combined_clean['nationality_drivers']=df_combined_clean.nationality_drivers.map(nationality_to_nation)

In [9]:
df_combined_clean.to_csv('./data/clean/combined_ergast_clean.csv',index=False)

In [ ]:
#df_lap_times_clean.to_csv('../data/clean/df_lap_times_clean.csv', index=False)
#df_pit_stops_clean.to_csv('../data/clean/df_pit_stops_clean.csv',index=False)