# Formula1 Sample Telemetry Data Download and Data Cleaning 
Author : Ben Palmer\
Date : 02/11/2022

## Summary:

In this notebook we have succesffully download telemetry from FastF1 for a sample of 10 GrandPrix's over 2018 and 2018. We have successfully cleaned and prepared the data for further EDA and feature aggregation.

## Introduction:

The aim of this notebook is to download telemetry data from the [FastF1 library](https://theoehrly.github.io/Fast-F1/)

FastF1 gives access to F1 lap timing, car telemetry and position, tyre data, weather data, the event schedule and session results. This done by a api link to [F1 Live](https://www.formula1.com/en/f1-live.html).

The telemetry data is the same data that media companies use to show telemtry data during the races, example output from F1live:

<div ><img style="height:300px"   src ='./images/f1live example.png' /> </div>


This telemetry data gives a tremendous amount of data on the car performance around each lap of the track. It is expected that this data will be instrumental in the prediction of our target variables;
- `Qualifying Position`
- `Qualifying Lap Time`

However the data is on a different record level to the previous Ergast Database we investigated in [2_Formula1_EDA_on_ergast_legacy_database](./2_Formula1_EDA_on_ergast_legacy_database.ipynb). As explain in the following figure:

<div ><img style="height:300px"   src ='./images/database structure.png' /> </div>

Once we have download the data we will have to complete feature engineering and aggregation to be able to combine feature of car performane with our result database.

Since the telemetry database is soo large, each driver completing multiple laps per session and each lap have 800 records of data, we will take a sample of races from 2018 and 2019 for our initial analysis. After the analysis and exploration has been completed we will use our knowledge to download data for the complete dataset from 2018 to 2022.

First this notebook will download and clean the sample dataset.

## Table of Contents:

1. [Telemetry Data Download](#download)\
    1.1 [Sample Races](#sample)\
    1.2 [Download](#download)

2. [Data Inspection & Cleaning](#inspect)\
    2.1 [Cleaning Qualifying TIme](#qualitimes)\
    2.2 [Addittional Columns](#addcols)\
    2.3 [Feature Engineering](#age)\
    2.4 [NaN values](#nan)\
    2.5 [Time Columns](#time)\
    2.6 [Save Dataframe](#save)

3. [Summary](#sum)

4. [Next Steps](#nextsteps)

## Imports

In [1]:
import fastf1
from scripts import ds_ultils,data_cleaning
from scripts.f1_ultils import convert_time_miliseconds,find_fastest_lap, fill_mean_parameter,clean_q3_times

from scripts.fastf1_data_download import f1_telemetry_data , combine_telemetry
import numpy as np
import pandas as pd

# Telemetry Data Download:
<a id="download"></a>

This Section downloads telemetry data from a sample of races in 2018 & 2019. This does take some time and creates a lot of intermediate projects. However the complete telemetry dataset has been saved so this section does not need to be run and has been commentd out.

## Sample Races
<a id="sample"></a>

First lets take a random sample of 3 races. We will then add two other races which from our [initial EDA](./2_Formula1_EDA_on_ergast_legacy_database.ipynb) were especially important to get pole position. These were Monaco and the Spanish GrandPrix

In [3]:
# Random 3 races
random = np.random.RandomState(1234).randint(20,size=3)
random

array([15, 19,  6])

### Read the Ergast results database we will combine telemetry with

In [4]:
ergast_combined_df=pd.read_csv('./data/clean/combined_ergast_clean.csv')

Find the list of circuits in 2018

In [5]:
circuits=list(ergast_combined_df.loc[ergast_combined_df['year']==2018,'name'].unique())

Take the random 3 circuits and append Monaco and Spanish Grand Prix

In [6]:
circuits=list(ergast_combined_df.loc[ergast_combined_df['year']==2018,'name'].unique())
circuits_2018=[]
for i in random:
    if circuits[i] not in (['Monaco Grand Prix','Spanish Grand Prix']):
        circuits_2018.append(circuits[i])
    else:
        circuits_2018.append(circuits[i+2])
circuits_2018.append('Monaco Grand Prix')
circuits_2018.append('Spanish Grand Prix')
circuits_2018

['Austrian Grand Prix',
 'Russian Grand Prix',
 'Hungarian Grand Prix',
 'Monaco Grand Prix',
 'Spanish Grand Prix']

These are the list of circuits we will download telemetry data from for 2018 and 2019

## Telemetry Data Download:
<a id="download"></a>
These code blocks call the API of FastF1 and retrive the weather, car and telemetry data for each driver in those qualifying sessions.

These take some time and are commented out as intermediate products are saved.

In [ ]:
# event_data={}
# for circuit in circuits_2018:
#     event_data[circuit] =f1_telemetry_data(2018,circuit)

In [8]:
# event_data.keys()

dict_keys(['Austrian Grand Prix', 'Russian Grand Prix', 'Hungarian Grand Prix', 'Monaco Grand Prix', 'Spanish Grand Prix'])

In [9]:
# combine the telemetry data with the qualifying results database
# combined_2018_data = combine_telemetry(event_data,ergast_combined_df,session='qualifying',year=2018)

In [ ]:
#save 2018 data
#combined_2018_data.to_pickle('./data/clean/2018_telemetry_subsetcircuits_data.pkl',compression='gzip')

In [10]:
# How many rows of data
#len(combined_2018_data)

549163

In [11]:
# Check the circuits
#combined_2018_data['circuitRef'].unique()

array(['red_bull_ring', 'sochi', 'hungaroring', 'monaco', 'catalunya'],
      dtype=object)

In [ ]:
# event_data={}
# for circuit in circuits_2018:
#     event_data[circuit] =f1_telemetry_data(2019,circuit)

In [ ]:
#combined_2019_data = combine_telemetry(event_data,ergast_combined_df,session='qualifying',year=2019)

In [ ]:
#ombined_2019_data.to_pickle('./data/clean/2019_telemetry_subsetcircuits_data.pkl',compression='gzip')

In [ ]:
#combined_2019_data.head()

   raceId  year  circuitId  ... qualifying_X qualifying_Y qualifying_Z
0    1018  2019         70  ...       1447.0      -1090.0       7215.0
1    1018  2019         70  ...       1374.0      -1109.0       7215.0
2    1018  2019         70  ...       1272.0      -1137.0       7215.0
3    1018  2019         70  ...       1204.0      -1155.0       7214.0
4    1018  2019         70  ...       1060.0      -1194.0       7214.0

[5 rows x 126 columns]

Concatonate the 2018 and 2019 data together

In [ ]:
#combined_telemetry_data=pd.concat([combined_2018_data,combined_2019_data])

Save the intermediate product

In [ ]:
#combined_telemetry_data.to_pickle('./data/clean/years_18_19_telemetry_subsetcircuits_data.pkl',compression='gzip')

## Telemetry Data Inspection & Cleaning:
<a id="inspect"></a>

In this section the sample database is inspected and cleaned ready for feature aggreagtions and EDA.

### Data Dictionary:
What is the data dictionary of the combined data set?


- `raceId`(float) : id of the race linked to Ergast database
- `year` (float) : year of the Grand Prix
- `circuitId` (float): id of the circuit
- `name` (float) : name of the Grand Prix
- `date` (float) : date of the qualifying session
- `time` (float) : Time of the qualifying session
- `quali_date` (object) : Date of qualifying
- `quali_time` (object) : Time of qualifying
- `sprint_date` (object) : Date of the sprint race if run
- `sprint_time` (object) : Time of the sprint race if run
- `lat_x` (float) : Latitude of the circuit
- `lng_x` (float) : Longitude of the circuit
- `race_temp` (float) : race temperature from weather api
- `race_precip` (float) : race precipitation from weather api
- `race_humidity` (float) : race humidity from weather api
- `quali_temp` (float) : qualifying temperature from weather api
- `quali_precip` (float) : qualifying precipitation from weather api
- `quali_humidity` (float) : qualifying precipitation from weather api
- `fp1_date` (object) : Date of free practice 1
- `fp1_time` (object) : Time of free practice 1
- `fp2_date`(object) : Date of free practice 2
- `fp2_time` (object) : Time of free practice 2
- `fp3_date`(object) : Date of free practice 3
- `fp3_time` (object) : Time of free practice 3
- `race_condition_wiki` (object) : Race condition from Wikipedia
- `quali_condition_clean` (object) : Qualifying condition from weather API
- `circuitRef` (object) : circuit name
- `location` (object) : Location of circuit
- `country` (object) : country name
- `alt` (float) : altitude of the circuit
- `qualifyId` (float) : id of qualifying session
- `driverId` (float) : Driver Id number
- `constructorId` (float) : Team Id number
- `quali_position` (float) : position of qualifying
- `q1` (object) : Best lap time in Q1 in minutes and seconds. 
- `q2` (object) : Best lap time in Q2 in minutes and seconds, if drivers are knocked out of Q1 recorded as NaN
- `q3` (object) : Best lap time in Q3 in minutes and seconds, if drivers are knocked out of Q2 recorded as NaN
- `resultId_x` (float): Race result Id
- `grid_sprint` (float) : Grid position for Sprint race if it occurs
- `positionText_sprint` (object) : Race position for Sprint race if it occurs as category
- `positionOrder_sprint` (float) : Race position for Sprint race if it occurs
- `points_sprint` (float) : Points awarded for sprint race
- `laps_sprint` (float) : number of laps completed in sprint race
- `milliseconds_sprint` (float) : time taken to complete sprint race
- `fastestLap_sprint` (float) : lap number of fastest lap in the sprint race
- `fastestLapTime_sprint` (float) : fastest lap time for that driver in the sprint race
- `status_sprint` (object) : status, finished, retired or crashed
- `resultId_y` (float) : result id for the final race
- `grid` (float) : grid position for race after penalities
- `positionText` (object) : Race position as category
- `positionOrder`(float) : position of race
- `points` (float) : points from race
- `laps` (float) : number of laps completed in the race
- `milliseconds` (float) : time taken to complete the race
- `fastestLap` (float) : lap number of fastest lap in the race
- `rank` (float) : rank of fastest laps 
- `fastestLapTime` (float) : fastest lap time of driver in race
- `fastestLapSpeed` (float) : average speed on fastest lap time in the race
- `status` (object) : status, finished, retired or crashed
- `driverStandingsId` (float) : driver Id for overal points standing
- `points_drivers` (float): cumulative points of the season
- `position_drivers` (float): position in drivers season standing after the race
- `wins_drivers` (float) : number of wins that season
- `constructorStandingsId`
- `points_constructors` (float) : number of points the constructors have in the standings
- `position_constructors` (float) : position in constructors standings after the race
- `wins_constructors` (float) : number of constructors wins that season
- `points_constructor_ind_races` (float) : points gained in that race constructors
- `driverRef` (object) : Name of driver
- `number` (object) : number assinged to the driver that goes on the car. e.g. Hamilton 44
- `dob` (object) : Date of Birth of driver
- `nationality_drivers` (object) : Nationality of driver
- `constructorRef` (object) : Constructor name
- `nationality_constructors` (object) : Nationality of constructors
- `qualifying_lapId` (float) : Id of individual lap 
- `qualifying_end_lap_sessiontime` (pandas.Timedelta): Session time when the lap time was set (end of lap) 
- `qualifying_DriverNumber` (object) : Driver number
- `qualifying_LapTime` (pandas.Timedelta): Recorded lap time. 
- `qualifying_Sector1Time` (pandas.Timedelta): Sector 1 recorded time
- `qualifying_Sector2Time` (pandas.Timedelta): Sector 2 recorded time
- `qualifying_Sector3Time` (pandas.Timedelta): Sector 3 recorded time
- `qualifying_LapNumber` Recorded lap number
- `qualifying_SpeedI1` (float): Speedtrap sector 1 [km/h]
- `qualifying_SpeedI2`(float): Speedtrap sector 2 [km/h]
- `qualifying_SpeedFL` (float): Speedtrap at finish line [km/h]
- `qualifying_SpeedST`(float): Speedtrap on longest straight (Not sure) [km/h]
- `qualifying_IsPersonalBest` (bool) : Flag that indicates whether this lap is the official personal best lap of a driver. If any lap of a driver is quicker than their respective personal best lap, this means that the quicker lap is invalid and not counted. This can happen it the track limits were execeeded, for example.
- `qualifying_Compound` (object): Tyres event specific compound name: SOFT, MEDIUM, HARD, INTERMEDIATE, WET (the actual underlying compounds C1 to C5 are not differentiated).
- `qualifying_TyreLife` (float): Laps driven on this tire (includes laps in other sessions for used sets of tires)
- `qualifying_FreshTyre` (bool): Tyre had TyreLife=0 at stint start, i.e. was a new tire
- `qualifying_Stint` (int): Stint number
- `qualifying_TrackStatus` A string that contains track status numbers for all track status that occurred during this lap. ‘1’: Track clear (beginning of session ot to indicate the end of another status)
‘2’: Yellow flag (sectors are unknown)
‘4’: Safety Car
‘5’: Red Flag
‘6’: Virtual Safety Car deployed
‘7’: Virtual Safety Car ending 
- `qualifying_IsAccurate`(bool) Indicates that the lap start and end time are synced correctly with other laps. 
- `qualifying_LapStartDate` : (pandas.datetime): Timestamp at the start of the lap
- `qualifying_AirTemp` (float): Air temperature [°C]
- `qualifying_Humidity` (float): Relative humidity [%]
- `qualifying_Pressure` (float): Air pressure [mbar]
- `qualifying_Rainfall` (bool): Shows if there is rainfall 
- `qualifying_TrackTemp`  (float): Track temperature [°C]
- `qualifying_WindDirection` (int): Wind direction [°] (0°-359°)
- `qualifying_WindSpeed` (float): Wind speed [km/h]
- `qualifying_DistanceToDriverAhead` Distance to driver ahead  
- `qualifying_lap_timedelta` : (timedelta): Time (0 is start of the data slice)
- `qualifying_RPM` (int): Car RPM
- `qualifying_Speed` (float): Car speed [km/h]
- `qualifying_nGear`(int): Car gear number
- `qualifying_Throttle`(float): 0-100 Throttle pedal pressure [%]
- `qualifying_Brake`(bool): Brakes are applied or not.
- `qualifying_DRS`(int): DRS indicator 0 = Off
1 = Off
2 = (?)
3 = (?)
8 = Detected, Eligible once in Activation Zone (Noted Sometimes)
10 = On (Unknown Distinction)
12 = On (Unknown Distinction)
14 = On (Unknown Distinction)
- `qualifying_Source` (str): Flag indicating how this sample was created:
‘car’: sample from original api car data
‘pos’: sample from original api position data
‘interpolated’: this sample was artificially created; all values are computed/interpolated
- `qualifying_Distance` Distance driven between two samples
- `qualifying_RelativeDistance` distance driven since the first sampl
- `qualifying_Status` Flag - OffTrack/OnTrack 
- `qualifying_X` X position [1/10 m]
- `qualifying_Y` Y position [1/10 m]
- `qualifying_Z` Z position [1/10 m]
- `fastest_lap_milliseconds` (float) offical qualifying time in milliseconds
- `age` (float) age of driver

In [16]:
# read database
combined_telemetry_data=pd.read_pickle('./data/clean/years_18_19_telemetry_subsetcircuits_data.pkl',compression='gzip')

In [3]:
ds_ultils.nan_checker(combined_telemetry_data)

This dataframe has 21719605 NaN values
 The NaN values come from: ['quali_date', 'quali_time', 'sprint_date', 'sprint_time', 'fp1_date', 'fp1_time', 'fp2_date', 'fp2_time', 'fp3_date', 'fp3_time', 'q1', 'q2', 'q3', 'resultId_x', 'grid_sprint', 'positionText_sprint', 'positionOrder_sprint', 'points_sprint', 'laps_sprint', 'milliseconds_sprint', 'fastestLap_sprint', 'fastestLapTime_sprint', 'status_sprint', 'milliseconds', 'fastestLap', 'fastestLapTime', 'fastestLapSpeed', 'qualifying_lapId', 'qualifying_Time_x', 'qualifying_DriverNumber', 'qualifying_LapTime', 'qualifying_LapNumber', 'qualifying_Sector1Time', 'qualifying_Sector2Time', 'qualifying_Sector3Time', 'qualifying_Sector1SessionTime', 'qualifying_Sector2SessionTime', 'qualifying_Sector3SessionTime', 'qualifying_SpeedI1', 'qualifying_SpeedI2', 'qualifying_SpeedFL', 'qualifying_SpeedST', 'qualifying_IsPersonalBest', 'qualifying_Compound', 'qualifying_TyreLife', 'qualifying_FreshTyre', 'qualifying_Stint', 'qualifying_LapStartTime', 'qualifying_Team', 'qualifying_Driver', 'qualifying_TrackStatus', 'qualifying_IsAccurate', 'qualifying_LapStartDate', 'qualifying_AirTemp', 'qualifying_Humidity', 'qualifying_Pressure', 'qualifying_Rainfall', 'qualifying_TrackTemp', 'qualifying_WindDirection', 'qualifying_WindSpeed', 'qualifying_Date', 'qualifying_SessionTime', 'qualifying_DriverAhead', 'qualifying_DistanceToDriverAhead', 'qualifying_Time_y', 'qualifying_RPM', 'qualifying_Speed', 'qualifying_nGear', 'qualifying_Throttle', 'qualifying_Brake', 'qualifying_DRS', 'qualifying_Source', 'qualifying_Distance', 'qualifying_RelativeDistance', 'qualifying_Status', 'qualifying_X', 'qualifying_Y', 'qualifying_Z'].
	 These ['quali_date', 'quali_time', 'sprint_date', 'sprint_time', 'fp1_date', 'fp1_time', 'fp2_date', 'fp2_time', 'fp3_date', 'fp3_time', 'resultId_x', 'grid_sprint', 'positionText_sprint', 'positionOrder_sprint', 'points_sprint', 'laps_sprint', 'milliseconds_sprint', 'fastestLap_sprint', 'fastestLapTime_sprint', 'status_sprint', 'milliseconds'] columns have > 50% NaNs

Database has a lot of NaN values to understand. Most come from the sprint and free practice result sections. This is because sprint races were a concept only introduced recently and only occur once or twice a season. Therefore we can remove these columns as they are not useful to us.

In addittion the free practice time and data we will not use in this analysis so that is not an issue.

In [4]:
combined_telemetry_data['qualifying_LapStartDate']

0          2018-06-30 13:03:47.133
1          2018-06-30 13:03:47.133
2          2018-06-30 13:03:47.133
3          2018-06-30 13:03:47.133
4          2018-06-30 13:03:47.133
                    ...
1018653    2019-05-11 13:16:36.564
1018654    2019-05-11 13:16:36.564
1018655    2019-05-11 13:16:36.564
1018656    2019-05-11 13:16:36.564
1018657    2019-05-11 13:16:36.564
Name: qualifying_LapStartDate, Length: 1018658, dtype: object

For 2018 and 2019 there was no sprint races,so we can drop those columns. In addittion the date and time of the qualifying can be dropped since we have the same data replicated per lap in the telemetry data.

In [5]:
qualifying_data_clean = combined_telemetry_data.copy()

In [6]:
qualifying_data_clean.drop(columns=['quali_date', 'quali_time', 'sprint_date',
 'sprint_time', 'fp1_date', 'fp1_time', 'fp2_date', 'fp2_time', 'fp3_date', 
 'fp3_time', 'grid_sprint', 'positionText_sprint', 'positionOrder_sprint', 
 'points_sprint', 'laps_sprint', 'milliseconds_sprint', 'fastestLap_sprint', 
 'fastestLapTime_sprint', 'status_sprint'],axis=1,inplace=True)

In [7]:
(qualifying_data_clean['resultId_x'].isna()).sum()/len(qualifying_data_clean)
#resultID is for the sprint races with no results so it is all nan's - we can drop columns

1.0

In [8]:
qualifying_data_clean.drop(columns='resultId_x',axis=1,inplace=True)

We are focusing on predicting qualifying performance for specific, drivers, cars and circuits. Therefore we can remove data on the race for this analysis.

In [9]:
qualifying_data_clean['milliseconds'].isna().sum()/len(qualifying_data_clean)

0.5199615572645578

In [10]:
qualifying_data_clean.drop(columns=['laps',
 'milliseconds',
 'fastestLap',
 'rank',
 'fastestLapTime',
 'fastestLapSpeed',
 'status'],axis=1,inplace=True)

Since we have detailed weather conditions information for each lap from the telemetry we can remove weather condition information we collected previously as this is a duplicate.

In [11]:
qualifying_data_clean.drop(columns=['race_temp',
 'race_precip',
 'race_humidity',
 'quali_temp',
 'quali_precip',
 'quali_humidity',
 'race_condition_wiki',
 'quali_condition_clean'],axis=1,inplace=True)

In [12]:
print('The number of unqiue circuit ref matches the circuitId :',len(qualifying_data_clean.circuitId.unique()) == len(qualifying_data_clean.circuitRef.unique()))
print('The number of unqiue Driver ref matches the driverId :',len(qualifying_data_clean.driverId.unique()) == len(qualifying_data_clean.driverRef.unique()))
print('The number of unqiue constructor ref matches the constructorId :',len(qualifying_data_clean.constructorId.unique()) == len(qualifying_data_clean.constructorRef.unique()))

The number of unqiue circuit ref matches the circuitId : True
The number of unqiue Driver ref matches the driverId : True
The number of unqiue constructor ref matches the constructorId : True

In [13]:
qualifying_data_clean.drop(columns=['circuitId','driverId','constructorId'],axis=1,inplace=True)

The other id's for result, driver standinds constructor standings can be now dropped as we have successfully merged the data and kept unique entries for driver, car and circuit combinations

In [14]:
qualifying_data_clean.drop(columns=['resultId_y',
'driverStandingsId',
'constructorStandingsId',
'constructorResultsId'],axis=1,inplace=True)

## Cleaning Qualifying Times
<a id="qualitimes"></a>

Qualifying is when the drivers go out to complete their fastest times around one lap of the circuit. The order of these poisitions defines the start order for the race. Hence it is very important to do well in qualifying.

Qualifying is split into 3 sessions:
- Q1 ( session 1)
- Q2 (session 2)
- Q3 (session 3)

In Q1, the drivers have an allotated time to complete their fastest time, the bottom 5 drivers on the score sheet then are knocked out and do not proceed to Q2. They will start in their order 15-20.

In Q2, the drivers have another period of time to complete their fastest times on a blank slate (ignoring Q1 times). Tbe bottom 5 drivers are thne knocked out and do not proceed to Q3

in Q3, the top ten drivers have a time period to go out and set their fastest time in this sessions (previous times ignored) to define the starting order for the top ten.

In our database since its only q1 that all the drivers complete a time in. We have NaN values in Q2 and Q3.

We will have to merge all the times into one column. We will do this by keeping the Q3 times which are usually the fastest, and then add the next 5 drivers with their Q2 times and the last 5 drivers with their Q1 drivers.


Are there any q1 nans?

In [15]:
((qualifying_data_clean['q1'].isna()).sum()/len(qualifying_data_clean))*100

0.00019633674893830905

In [17]:
qualifying_data_clean[qualifying_data_clean['q1'].isna()]

,raceId,year,name,date,time,lat_x,lng_x,circuitRef,location,country,...,qualifying_Throttle,qualifying_Brake,qualifying_DRS,qualifying_Source,qualifying_Distance,qualifying_RelativeDistance,qualifying_Status,qualifying_X,qualifying_Y,qualifying_Z
426623,994,2018,Monaco Grand Prix,2018-05-27,13:10:00,43.7347,7.42056,monaco,Monte-Carlo,Monaco,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
549162,993,2018,Spanish Grand Prix,2018-05-13,13:10:00,41.5700,2.26111,catalunya,Montmeló,Spain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

These two entries have NaN values for Q1 and the whole database, therefore we have no data for these drivers and hence will have to drop. It is only a small portion of the data.

In [18]:
qualifying_data_clean = qualifying_data_clean[qualifying_data_clean.index.isin(qualifying_data_clean['q1'].dropna().index)]

In [19]:
#make np.NaN floats strings for conversion to milliseconds
qualifying_data_clean['q2'].fillna('nan',inplace=True)
qualifying_data_clean['q3'].fillna('nan',inplace=True)

Convert the object times into floats of lap times in milliseconds:

In [20]:
qualifying_data_clean['q1_milliseconds']=qualifying_data_clean['q1'].apply(convert_time_miliseconds)

In [21]:
qualifying_data_clean['q2_milliseconds']=qualifying_data_clean['q2'].apply(convert_time_miliseconds)
qualifying_data_clean['q3_milliseconds']=qualifying_data_clean['q3'].apply(convert_time_miliseconds)

Function takes the Q3 times, adds the next 5 from Q2 and bottom 5 from Q1.

In [22]:
qualifying_data_clean=clean_q3_times(qualifying_data_clean,'q1_milliseconds','q2_milliseconds','q3_milliseconds','fastest_lap_milliseconds')

In [23]:
#validate that worked as expected
qualifying_data_clean[['fastest_lap_milliseconds','q1_milliseconds','q2_milliseconds','q3_milliseconds','q1','q2','q3']]

,fastest_lap_milliseconds,q1_milliseconds,q2_milliseconds,q3_milliseconds,q1,q2,q3
0,63130.0,64175.0,63756.0,63130.0,1:04.175,1:03.756,1:03.130
1,63130.0,64175.0,63756.0,63130.0,1:04.175,1:03.756,1:03.130
2,63130.0,64175.0,63756.0,63130.0,1:04.175,1:03.756,1:03.130
3,63130.0,64175.0,63756.0,63130.0,1:04.175,1:03.756,1:03.130
4,63130.0,64175.0,63756.0,63130.0,1:04.175,1:03.756,1:03.130
...,...,...,...,...,...,...,...
1018653,80254.0,80254.0,NaN,NaN,1:20.254,nan,nan
1018654,80254.0,80254.0,NaN,NaN,1:20.254,nan,nan
1018655,80254.0,80254.0,NaN,NaN,1:20.254,nan,nan
1018656,80254.0,80254.0,NaN,NaN,1:20.254,nan,nan
1018657,80254.0,80254.0,NaN,NaN,1:20.254,nan,nan

In [24]:
(qualifying_data_clean['fastest_lap_milliseconds'].isna()).sum()

0

We have a complete dataset of Fastest Lap times. Now we can drop the intermediate columns and the individual session fastest times and retain just the fastest time for that circuit

In [25]:
qualifying_data_clean.drop(columns=['q1_milliseconds',
'q2_milliseconds',
'q3_milliseconds',
'q1',
'q2',
'q3'
], axis=1,inplace=True)

## Data Inspection & Cleaning Other Columns:
<a id="addcols"></a>
Now lets look into the other columns

Date is not the date of qualifying but of the race, we can replace that with qualifying lap data.
time is also not of qualifying but of the race so can be dropped
Location is a duplicate of Lat, Lng and Alt,
grid is quali_position but accounts for penalties. This is not linked to pure performance ( such as engine penalties for replacing engines etc. Therefore we will drop grid)

number should be a repeat of qualifying driver number

In [26]:
#replace date with qualifying date as interested in qualifying only
qualifying_data_clean['date']=qualifying_data_clean['qualifying_Date'].str.split(' ').str[0]

In [27]:
#number is a duplicate of driver number. Validate this
(qualifying_data_clean['number'] != qualifying_data_clean['qualifying_DriverNumber']).sum()

1

In [28]:
qualifying_data_clean.loc[qualifying_data_clean['number'] != qualifying_data_clean['qualifying_DriverNumber'],['number','qualifying_DriverNumber','circuitRef','qualifying_lapId']]

        number  qualifying_DriverNumber circuitRef  qualifying_lapId
717562    26.0                      NaN      sochi               NaN

Only 1 occurence where driver number not equal to number, missing  lap data for car 26 in Sochi. Will drop this row of data

In [29]:
qualifying_data_clean.drop(index=717562,axis=0,inplace=True)

Validate we can remove number

In [30]:
(qualifying_data_clean['number'] != qualifying_data_clean['qualifying_DriverNumber']).sum()

0

In [31]:
qualifying_data_clean.drop(columns=['number','location','grid'],axis=1,inplace=True)

For the race, PositionText and positionOrder are duplicates of race result, we will combine

In [32]:
qualifying_data_clean['positionOrder'].unique()

array([19., 16.,  3.,  2.,  1.,  4., 18.,  5., 12., 20.,  6., 11.,  9.,
        8., 14., 15.,  7., 13., 17., 10.])

In [33]:
qualifying_data_clean['positionText'].unique()

array(['R', '3', '2', 2, 1, 4, '4', '5', '12', '6', 6, 11, 9, 8, 14, 15,
       7, '7', '13', '10', 3, 10, 13, 5, '17', '14', '18', '16', '15',
       '11', 12, 16, 17, '8', '9', 19, 18, 20, '1', '19'], dtype=object)

In [34]:
qualifying_data_clean[['positionText','positionOrder']].iloc[1000:1010]

     positionText  positionOrder
1000            R           19.0
1001            R           19.0
1002            R           19.0
1003            R           19.0
1004            R           19.0
1005            R           19.0
1006            R           19.0
1007            R           19.0
1008            R           19.0
1009            R           19.0

Position Text accounts for retired, position Order is just a float which assigns cars a result even if they don't finish. The first car to retire is assigned last position and the next car to retire next to last etc.. Since we are focusing on qualifying car performance we will drop positionText

In [35]:
qualifying_data_clean.drop(columns=['positionText'],axis=1,inplace=True)

## Feature Engineering Age
<a id="age"></a>

We will convert dob into age for this analysis to see if age has an impact on pole positions

In [36]:
qualifying_data_clean['dob']=qualifying_data_clean['dob'].astype('datetime64')
qualifying_data_clean['date']=qualifying_data_clean['date'].astype('datetime64')

In [37]:
# inspired from stackoverflow https://stackoverflow.com/questions/26788854/pandas-get-the-age-from-a-date-example-date-of-birth
qualifying_data_clean['age']=(qualifying_data_clean['date'] - qualifying_data_clean['dob']).astype('<m8[Y]')

In [38]:
qualifying_data_clean.drop(columns=['dob'],axis=1,inplace=True)

## Dealing with NaN values:
<a id="nan"></a>

lets check how many NaN values are remaining?

In [39]:
ds_ultils.nan_checker(qualifying_data_clean)

This dataframe has 178042 NaN values
 The NaN values come from: ['qualifying_LapTime', 'qualifying_SpeedI1', 'qualifying_SpeedI2', 'qualifying_SpeedFL', 'qualifying_SpeedST', 'qualifying_Compound', 'qualifying_TyreLife', 'qualifying_FreshTyre', 'qualifying_Stint', 'qualifying_DriverAhead', 'qualifying_DistanceToDriverAhead'].

The NaN values come all from LapTime, Speed traps, Tyre data and driver ahead.

To measure pure car performance we do not need to know which car is ahead. Therefore we can remove driver ahead

In [41]:
qualifying_data_clean.drop(columns=['qualifying_DriverAhead'],axis=1,inplace=True)

Lets look at the NaN values for LapTime.

In [40]:
qualifying_data_clean.loc[qualifying_data_clean['qualifying_LapTime'].isna(),['qualifying_LapTime', 'qualifying_SpeedI1', 'qualifying_SpeedI2', 'qualifying_SpeedFL', 'qualifying_SpeedST', 'qualifying_Compound', 'qualifying_TyreLife', 'qualifying_FreshTyre', 'qualifying_Stint', 'qualifying_DriverAhead', 'qualifying_DistanceToDriverAhead','qualifying_DriverNumber']]

,qualifying_LapTime,qualifying_SpeedI1,qualifying_SpeedI2,qualifying_SpeedFL,qualifying_SpeedST,qualifying_Compound,qualifying_TyreLife,qualifying_FreshTyre,qualifying_Stint,qualifying_DriverAhead,qualifying_DistanceToDriverAhead,qualifying_DriverNumber
95414,NaN,108.0,253.0,177.0,140.0,HYPERSOFT,5.0,True,1.0,NaN,1242.801111,44.0
95415,NaN,108.0,253.0,177.0,140.0,HYPERSOFT,5.0,True,1.0,NaN,1242.801111,44.0
95416,NaN,108.0,253.0,177.0,140.0,HYPERSOFT,5.0,True,1.0,NaN,1242.801111,44.0
95417,NaN,108.0,253.0,177.0,140.0,HYPERSOFT,5.0,True,1.0,NaN,1242.801111,44.0
95418,NaN,108.0,253.0,177.0,140.0,HYPERSOFT,5.0,True,1.0,77.0,1242.801111,44.0
...,...,...,...,...,...,...,...,...,...,...,...,...
677167,NaN,117.0,255.0,172.0,244.0,SOFT,3.0,True,1.0,23.0,322.196944,8.0
677168,NaN,117.0,255.0,172.0,244.0,SOFT,3.0,True,1.0,23.0,324.830278,8.0
677169,NaN,117.0,255.0,172.0,244.0,SOFT,3.0,True,1.0,23.0,327.054306,8.0
677170,NaN,117.0,255.0,172.0,244.0,SOFT,3.0,True,1.0,23.0,329.278333,8.0
677171,NaN,117.0,255.0,172.0,244.0,SOFT,3.0,True,1.0,23.0,329.278333,8.0

In [45]:
(qualifying_data_clean['qualifying_LapTime'].isna().sum()/len(qualifying_data_clean))*100

1.0603197353372829

IsAccurate (bool): Indicates that the lap start and end time are synced correctly with other laps. 

If this value is True, the lap has passed as basic accuracy check for timing data. This does not guarantee accuracy but laps marked as inaccurate need to be handled with caution. They might contain errors which can not be spotted easily. Laps need to satisfy the following criteria to be marked as accurate:

not an inlap or outlap

set under green or yellow flag (the api sometimes has issues with data from SC/VSC laps)

is not the first lap after a safety car period (issues with SC/VSC might still appear on the first lap after it has ended)

has a value for lap time and all sector times

the sum of the sector times matches the lap time

Since in accurate lap time match the len of lap times with nans we will remove all laps not accurate from the database

In [46]:
qualifying_data_clean = qualifying_data_clean[qualifying_data_clean['qualifying_IsAccurate']]

In [47]:
qualifying_data_clean['qualifying_LapTime'].isna().sum()

0

Removing inaccurate laps got rid of lap time nans

In [48]:
ds_ultils.nan_checker(qualifying_data_clean)

This dataframe has 83465 NaN values
 The NaN values come from: ['qualifying_SpeedI1', 'qualifying_SpeedI2', 'qualifying_SpeedFL', 'qualifying_SpeedST', 'qualifying_Compound', 'qualifying_TyreLife', 'qualifying_FreshTyre', 'qualifying_Stint', 'qualifying_DistanceToDriverAhead'].

Lets now evaluate intermediate Speed Traps

In [49]:
qualifying_data_clean.loc[qualifying_data_clean['qualifying_SpeedI1'].isna(),'qualifying_DriverNumber'].unique()

array([ 7., 33., 28., 44., 77.])

In [50]:
qualifying_data_clean.loc[qualifying_data_clean['qualifying_SpeedI1'].isna(),'qualifying_lapId'].unique()

array([ 33.,  41.,  98., 111.,   4.,  12.,  21.,  66.])

In [51]:
qualifying_data_clean.loc[qualifying_data_clean['qualifying_SpeedI1'].isna(),['qualifying_lapId','raceId','qualifying_DriverNumber','qualifying_SpeedI1']]

        qualifying_lapId  raceId  qualifying_DriverNumber  qualifying_SpeedI1
167010              33.0    1000                      7.0                 NaN
167011              33.0    1000                      7.0                 NaN
167012              33.0    1000                      7.0                 NaN
167013              33.0    1000                      7.0                 NaN
167014              33.0    1000                      7.0                 NaN
...                  ...     ...                      ...                 ...
586811              66.0    1018                      7.0                 NaN
586812              66.0    1018                      7.0                 NaN
586813              66.0    1018                      7.0                 NaN
586814              66.0    1018                      7.0                 NaN
586815              66.0    1018                      7.0                 NaN

[5180 rows x 4 columns]

The Intermediate Speed Trap measurements are NaN's for a single lap. Therefore we can fill them by taking the average for that qualifying stint.

Qualifying stint is a number assigned to when a driver goes out and completes a set number of laps consequetively before coming into the pits.

In [52]:
query = (qualifying_data_clean['qualifying_lapId']==33) & (qualifying_data_clean['raceId']==1000) & (qualifying_data_clean['qualifying_DriverNumber'] ==7)
print('percentage nans:',(qualifying_data_clean.loc[query,'qualifying_SpeedI1'].isna().sum()/len(qualifying_data_clean.loc[query,'qualifying_SpeedI1']))*100)
qualifying_data_clean.loc[query,['qualifying_SpeedI1','qualifying_Stint']]

percentage nans: 100.0

        qualifying_SpeedI1  qualifying_Stint
167010                 NaN               2.0
167011                 NaN               2.0
167012                 NaN               2.0
167013                 NaN               2.0
167014                 NaN               2.0
...                    ...               ...
167594                 NaN               2.0
167595                 NaN               2.0
167596                 NaN               2.0
167597                 NaN               2.0
167598                 NaN               2.0

[589 rows x 2 columns]

This Function fills the parameter based on the mean for that qualifying stint.

In [53]:
qualifying_data_clean = fill_mean_parameter(qualifying_data_clean,'qualifying_SpeedI1')

In [54]:
ds_ultils.nan_checker(qualifying_data_clean)

This dataframe has 78285 NaN values
 The NaN values come from: ['qualifying_SpeedI2', 'qualifying_SpeedFL', 'qualifying_SpeedST', 'qualifying_Compound', 'qualifying_TyreLife', 'qualifying_FreshTyre', 'qualifying_Stint', 'qualifying_DistanceToDriverAhead'].

In [55]:
qualifying_data_clean = fill_mean_parameter(qualifying_data_clean,'qualifying_SpeedI2')
qualifying_data_clean = fill_mean_parameter(qualifying_data_clean,'qualifying_SpeedFL')
qualifying_data_clean = fill_mean_parameter(qualifying_data_clean,'qualifying_SpeedST')

Investigate NaN tyre values

In [56]:
qualifying_data_clean.loc[qualifying_data_clean['qualifying_Compound'].isna(),['qualifying_Compound', 'qualifying_TyreLife', 'qualifying_FreshTyre', 'qualifying_Stint']]

,qualifying_Compound,qualifying_TyreLife,qualifying_FreshTyre,qualifying_Stint
79477,NaN,NaN,NaN,NaN
79478,NaN,NaN,NaN,NaN
79479,NaN,NaN,NaN,NaN
79480,NaN,NaN,NaN,NaN
79481,NaN,NaN,NaN,NaN
...,...,...,...,...
546466,NaN,NaN,NaN,NaN
546467,NaN,NaN,NaN,NaN
546468,NaN,NaN,NaN,NaN
546469,NaN,NaN,NaN,NaN
546470,NaN,NaN,NaN,NaN

In [57]:
print('compound nans :', qualifying_data_clean['qualifying_Compound'].isna().sum())
print('Tyrelife nans :',qualifying_data_clean['qualifying_TyreLife'].isna().sum())
print('FreshTyre nans :',qualifying_data_clean['qualifying_FreshTyre'].isna().sum())
print('Stint nans :',qualifying_data_clean['qualifying_Stint'].isna().sum())
print('distance to driver ahead nans :',qualifying_data_clean['qualifying_DistanceToDriverAhead'].isna().sum())

compound nans : 2470
Tyrelife nans : 2470
FreshTyre nans : 2470
Stint nans : 2470
distance to driver ahead nans : 59596

In [58]:
(qualifying_data_clean.loc[qualifying_data_clean['qualifying_Compound'].isna(),['qualifying_Compound', 'qualifying_TyreLife', 'qualifying_FreshTyre', 'qualifying_Stint']].isna().sum()/len(qualifying_data_clean))*100

qualifying_Compound     0.245075
qualifying_TyreLife     0.245075
qualifying_FreshTyre    0.245075
qualifying_Stint        0.245075
dtype: float64

These rows have NaN values for qualifying stint as well so can't not fill with the mean for that stint. Compound, tyreLife, freshtyre, stint all have there nans at the same rows. Drop these rows as 0.2% of the data

In [59]:
qualifying_data_clean=qualifying_data_clean[qualifying_data_clean.index.isin(qualifying_data_clean['qualifying_Compound'].dropna(axis=0).index)].copy()

Distance to driver ahead

In [60]:
(qualifying_data_clean['qualifying_DistanceToDriverAhead'].isna().sum()/len(qualifying_data_clean))*100

5.752826780613178

Distance to driver ahead every lap has 5% of the data missing. This can not be dropped and has to be filled. However for this lap it is always nan and even for the whole qualifying stint. Therefore since it is expected not to be a key parameter the missing values are filled with mean for that driver and race.

In [61]:
indexes = qualifying_data_clean.loc[qualifying_data_clean['qualifying_DistanceToDriverAhead'].isna()].groupby(['qualifying_lapId',
'raceId','qualifying_DriverNumber'])['qualifying_Stint'].unique().index
values = qualifying_data_clean.loc[qualifying_data_clean['qualifying_DistanceToDriverAhead'].isna()].groupby(['qualifying_lapId',
'raceId','qualifying_DriverNumber'])['qualifying_Stint'].unique().values
for i,ind in enumerate(indexes):   
    query = (qualifying_data_clean['raceId']==ind[1]) & (qualifying_data_clean['qualifying_DriverNumber'] ==ind[2])
    mean_para = qualifying_data_clean.loc[query,['qualifying_DistanceToDriverAhead']].mean()
    query2= (qualifying_data_clean['qualifying_lapId']==ind[0])&(qualifying_data_clean['raceId']==ind[1]) & (qualifying_data_clean['qualifying_DriverNumber'] ==ind[2])
    qualifying_data_clean.loc[query2,['qualifying_DistanceToDriverAhead']] = mean_para.values

In [62]:
ds_ultils.nan_checker(qualifying_data_clean)

This dataframe has 0 NaN values

The dataframe has no nulls and most of the duplicated information in the columns is removed

In [63]:
qualifying_data_clean.duplicated().sum()
# 0 duplicated rows

0

## Checking Time Columns:
<a id="save"></a>

The columns of sector times and lap times are objects but should be pandas time deltas occurding to FastF1 data dictionary so need to be converted to time deltas to be then converted to floats.

In [65]:
qualifying_data_clean[['qualifying_LapTime','qualifying_Time_x','qualifying_Sector1Time',
       'qualifying_Sector2Time', 'qualifying_Sector3Time','qualifying_Sector1SessionTime', 'qualifying_Sector2SessionTime',
       'qualifying_Sector3SessionTime','qualifying_LapStartTime','qualifying_LapStartDate','qualifying_Date',
       'qualifying_SessionTime', 'qualifying_Time_y']]

,qualifying_LapTime,qualifying_Time_x,qualifying_Sector1Time,qualifying_Sector2Time,qualifying_Sector3Time,qualifying_Sector1SessionTime,qualifying_Sector2SessionTime,qualifying_Sector3SessionTime,qualifying_LapStartTime,qualifying_LapStartDate,qualifying_Date,qualifying_SessionTime,qualifying_Time_y
0,0 days 00:01:04.539000,0 days 00:08:43.423000,0 days 00:00:16.343000,0 days 00:00:28.620000,0 days 00:00:19.576000,0 days 00:07:55.227000,0 days 00:08:23.847000,0 days 00:08:43.423000,0 days 00:07:38.884000,2018-06-30 13:03:47.133,2018-06-30 13:03:47.133,0 days 00:07:38.884000,0 days 00:00:00
1,0 days 00:01:04.539000,0 days 00:08:43.423000,0 days 00:00:16.343000,0 days 00:00:28.620000,0 days 00:00:19.576000,0 days 00:07:55.227000,0 days 00:08:23.847000,0 days 00:08:43.423000,0 days 00:07:38.884000,2018-06-30 13:03:47.133,2018-06-30 13:03:47.280,0 days 00:07:39.031000,0 days 00:00:00.147000
2,0 days 00:01:04.539000,0 days 00:08:43.423000,0 days 00:00:16.343000,0 days 00:00:28.620000,0 days 00:00:19.576000,0 days 00:07:55.227000,0 days 00:08:23.847000,0 days 00:08:43.423000,0 days 00:07:38.884000,2018-06-30 13:03:47.133,2018-06-30 13:03:47.324,0 days 00:07:39.075000,0 days 00:00:00.191000
3,0 days 00:01:04.539000,0 days 00:08:43.423000,0 days 00:00:16.343000,0 days 00:00:28.620000,0 days 00:00:19.576000,0 days 00:07:55.227000,0 days 00:08:23.847000,0 days 00:08:43.423000,0 days 00:07:38.884000,2018-06-30 13:03:47.133,2018-06-30 13:03:47.564,0 days 00:07:39.315000,0 days 00:00:00.431000
4,0 days 00:01:04.539000,0 days 00:08:43.423000,0 days 00:00:16.343000,0 days 00:00:28.620000,0 days 00:00:19.576000,0 days 00:07:55.227000,0 days 00:08:23.847000,0 days 00:08:43.423000,0 days 00:07:38.884000,2018-06-30 13:03:47.133,2018-06-30 13:03:47.579,0 days 00:07:39.330000,0 days 00:00:00.446000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1018653,0 days 00:01:20.547000,0 days 00:32:57.064000,0 days 00:00:22.227000,0 days 00:00:30.223000,0 days 00:00:28.097000,0 days 00:31:58.744000,0 days 00:32:28.967000,0 days 00:32:57.064000,0 days 00:31:36.517000,2019-05-11 13:16:36.564,2019-05-11 13:17:56.609,0 days 00:32:56.562000,0 days 00:01:20.045000
1018654,0 days 00:01:20.547000,0 days 00:32:57.064000,0 days 00:00:22.227000,0 days 00:00:30.223000,0 days 00:00:28.097000,0 days 00:31:58.744000,0 days 00:32:28.967000,0 days 00:32:57.064000,0 days 00:31:36.517000,2019-05-11 13:16:36.564,2019-05-11 13:17:56.810,0 days 00:32:56.763000,0 days 00:01:20.246000
1018655,0 days 00:01:20.547000,0 days 00:32:57.064000,0 days 00:00:22.227000,0 days 00:00:30.223000,0 days 00:00:28.097000,0 days 00:31:58.744000,0 days 00:32:28.967000,0 days 00:32:57.064000,0 days 00:31:36.517000,2019-05-11 13:16:36.564,2019-05-11 13:17:56.849,0 days 00:32:56.802000,0 days 00:01:20.285000
1018656,0 days 00:01:20.547000,0 days 00:32:57.064000,0 days 00:00:22.227000,0 days 00:00:30.223000,0 days 00:00:28.097000,0 days 00:31:58.744000,0 days 00:32:28.967000,0 days 00:32:57.064000,0 days 00:31:36.517000,2019-05-11 13:16:36.564,2019-05-11 13:17:57.050,0 days 00:32:57.003000,0 days 00:01:20.486000
1018657,0 days 00:01:20.547000,0 days 00:32:57.064000,0 days 00:00:22.227000,0 days 00:00:30.223000,0 days 00:00:28.097000,0 days 00:31:58.744000,0 days 00:32:28.967000,0 days 00:32:57.064000,0 days 00:31:36.517000,2019-05-11 13:16:36.564,2019-05-11 13:17:57.111,0 days 00:32:57.064000,0 days 00:01:20.547000

## Data Dictionary of Time Columns:

- `Time_x` (pandas.Timedelta): Session time when the lap time was set (end of lap) 
- `LapTime` (pandas.Timedelta): Recorded lap time. 
- `Sector1Time` (pandas.Timedelta): Sector 1 recorded time
- `Sector2Time` (pandas.Timedelta): Sector 2 recorded time
- `Sector3Time` (pandas.Timedelta): Sector 3 recorded time
- `Sector1SessionTime` (pandas.Timedelta): Session time when the Sector 1 time was set
- `Sector2SessionTime` (pandas.Timedelta): Session time when the Sector 2 time was set
- `Sector3SessionTime` (pandas.Timedelta): Session time when the Sector 3 time was set
- `LapStartTime` (pandas.Timedelta): Session time at the start of the lap
- `LapStartDate` (pandas.Timestamp): Timestamp at the start of the lap
- `Time_y` (timedelta): Time (0 is start of the data slice)
- `SessionTime` (timedelta): Time elapsed since the start of the session
- `Date` (datetime): The full date + time at which this sample was created


`Laptime`, `sector` times are useful performance metrics

When the laptime occured in the session could be useful for when the track is increasing in performance

The times of the session when the sectors where recorded can be recreated from session time and lap time, and sectors time

`LapStartTime` & `LapStartDate` repeat each other therefore we will keep only `LapStartDate`

`Time_y` is the time delta from 0 at start of the lap, very useful for metrics around the lap

`SessionTime` and `Date` around the lap are not needed as they can be recreated if need from other metrics

In [66]:
qualifying_data_clean.drop(columns=['qualifying_Sector1SessionTime',
'qualifying_Sector2SessionTime',
'qualifying_Sector3SessionTime',
'qualifying_LapStartTime',
'qualifying_Date',
'qualifying_SessionTime',    
],axis=1, inplace=True)

In [67]:
qualifying_data_clean.rename(columns ={'qualifying_Time_x':'qualifying_end_lap_sessiontime','qualifying_Time_y':'qualifying_lap_timedelta'},inplace=True)

In [68]:
qualifying_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1005384 entries, 0 to 1018657
Data columns (total 71 columns):
 #   Column                            Non-Null Count    Dtype
---  ------                            --------------    -----
 0   raceId                            1005384 non-null  int64
 1   year                              1005384 non-null  int64
 2   name                              1005384 non-null  object
 3   date                              1005384 non-null  datetime64[ns]
 4   time                              1005384 non-null  object
 5   lat_x                             1005384 non-null  float64
 6   lng_x                             1005384 non-null  float64
 7   circuitRef                        1005384 non-null  object
 8   country                           1005384 non-null  object
 9   alt                               1005384 non-null  float64
 10  qualifyId                         1005384 non-null  int64
 11  quali_position                    1005384 non-null  int64
 12  positionOrder                     1005384 non-null  float64
 13  points                            1005384 non-null  float64
 14  points_drivers                    1005384 non-null  float64
 15  position_drivers                  1005384 non-null  float64
 16  wins_drivers                      1005384 non-null  float64
 17  points_constructors               1005384 non-null  float64
 18  position_constructors             1005384 non-null  float64
 19  wins_constructors                 1005384 non-null  float64
 20  points_constructor_ind_races      1005384 non-null  float64
 21  driverRef                         1005384 non-null  object
 22  nationality_drivers               1005384 non-null  object
 23  constructorRef                    1005384 non-null  object
 24  nationality_constructors          1005384 non-null  object
 25  qualifying_lapId                  1005384 non-null  float64
 26  qualifying_end_lap_sessiontime    1005384 non-null  object
 27  qualifying_DriverNumber           1005384 non-null  float64
 28  qualifying_LapTime                1005384 non-null  object
 29  qualifying_LapNumber              1005384 non-null  float64
 30  qualifying_Sector1Time            1005384 non-null  object
 31  qualifying_Sector2Time            1005384 non-null  object
 32  qualifying_Sector3Time            1005384 non-null  object
 33  qualifying_SpeedI1                1005384 non-null  float64
 34  qualifying_SpeedI2                1005384 non-null  float64
 35  qualifying_SpeedFL                1005384 non-null  float64
 36  qualifying_SpeedST                1005384 non-null  float64
 37  qualifying_IsPersonalBest         1005384 non-null  object
 38  qualifying_Compound               1005384 non-null  object
 39  qualifying_TyreLife               1005384 non-null  float64
 40  qualifying_FreshTyre              1005384 non-null  object
 41  qualifying_Stint                  1005384 non-null  float64
 42  qualifying_Team                   1005384 non-null  object
 43  qualifying_Driver                 1005384 non-null  object
 44  qualifying_TrackStatus            1005384 non-null  float64
 45  qualifying_IsAccurate             1005384 non-null  object
 46  qualifying_LapStartDate           1005384 non-null  object
 47  qualifying_AirTemp                1005384 non-null  float64
 48  qualifying_Humidity               1005384 non-null  float64
 49  qualifying_Pressure               1005384 non-null  float64
 50  qualifying_Rainfall               1005384 non-null  object
 51  qualifying_TrackTemp              1005384 non-null  float64
 52  qualifying_WindDirection          1005384 non-null  float64
 53  qualifying_WindSpeed              1005384 non-null  float64
 54  qualifying_DistanceToDriverAhead  1005384 non-null  float64
 55  qualifying_lap_timedelta          1005384 non-null  object
 56  qualifying_RPM                    1005384 non-null  float64
 57  qualifying_Speed                  1005384 non-null  float64
 58  qualifying_nGear                  1005384 non-null  float64
 59  qualifying_Throttle               1005384 non-null  float64
 60  qualifying_Brake                  1005384 non-null  object
 61  qualifying_DRS                    1005384 non-null  float64
 62  qualifying_Source                 1005384 non-null  object
 63  qualifying_Distance               1005384 non-null  float64
 64  qualifying_RelativeDistance       1005384 non-null  float64
 65  qualifying_Status                 1005384 non-null  object
 66  qualifying_X                      1005384 non-null  float64
 67  qualifying_Y                      1005384 non-null  float64
 68  qualifying_Z                      1005384 non-null  float64
 69  fastest_lap_milliseconds          1005384 non-null  float64
 70  age                               1005384 non-null  float64
dtypes: datetime64[ns](1), float64(41), int64(4), object(25)
memory usage: 552.3+ MB

Prepare time columns to be converted to float by assigning them as time deltas.

In [69]:
qualifying_data_clean['qualifying_end_lap_sessiontime'] = qualifying_data_clean['qualifying_end_lap_sessiontime'].astype('timedelta64')

In [70]:
qualifying_data_clean['qualifying_LapTime'] = qualifying_data_clean['qualifying_LapTime'].astype('timedelta64')
qualifying_data_clean['qualifying_Sector1Time'] = qualifying_data_clean['qualifying_Sector1Time'].astype('timedelta64')
qualifying_data_clean['qualifying_Sector2Time'] = qualifying_data_clean['qualifying_Sector2Time'].astype('timedelta64')
qualifying_data_clean['qualifying_Sector3Time'] = qualifying_data_clean['qualifying_Sector3Time'].astype('timedelta64')
qualifying_data_clean['qualifying_LapStartDate'] = qualifying_data_clean['qualifying_LapStartDate'].astype('datetime64')
qualifying_data_clean['qualifying_lap_timedelta'] = qualifying_data_clean['qualifying_lap_timedelta'].astype('timedelta64')

In [71]:
qualifying_data_clean['qualifying_LapTime'].dtype == '<m8[ns]'

True

Convert time deltas to total seconds

In [72]:
# convert timedeltas to total seconds
column_data = list(qualifying_data_clean.columns)
for col in column_data:
    if qualifying_data_clean[col].dtype == '<m8[ns]':
        print(col)
        qualifying_data_clean[col] = qualifying_data_clean[col].dt.total_seconds()

qualifying_end_lap_sessiontime
qualifying_LapTime
qualifying_Sector1Time
qualifying_Sector2Time
qualifying_Sector3Time
qualifying_lap_timedelta

In [73]:
qualifying_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1005384 entries, 0 to 1018657
Data columns (total 71 columns):
 #   Column                            Non-Null Count    Dtype
---  ------                            --------------    -----
 0   raceId                            1005384 non-null  int64
 1   year                              1005384 non-null  int64
 2   name                              1005384 non-null  object
 3   date                              1005384 non-null  datetime64[ns]
 4   time                              1005384 non-null  object
 5   lat_x                             1005384 non-null  float64
 6   lng_x                             1005384 non-null  float64
 7   circuitRef                        1005384 non-null  object
 8   country                           1005384 non-null  object
 9   alt                               1005384 non-null  float64
 10  qualifyId                         1005384 non-null  int64
 11  quali_position                    1005384 non-null  int64
 12  positionOrder                     1005384 non-null  float64
 13  points                            1005384 non-null  float64
 14  points_drivers                    1005384 non-null  float64
 15  position_drivers                  1005384 non-null  float64
 16  wins_drivers                      1005384 non-null  float64
 17  points_constructors               1005384 non-null  float64
 18  position_constructors             1005384 non-null  float64
 19  wins_constructors                 1005384 non-null  float64
 20  points_constructor_ind_races      1005384 non-null  float64
 21  driverRef                         1005384 non-null  object
 22  nationality_drivers               1005384 non-null  object
 23  constructorRef                    1005384 non-null  object
 24  nationality_constructors          1005384 non-null  object
 25  qualifying_lapId                  1005384 non-null  float64
 26  qualifying_end_lap_sessiontime    1005384 non-null  float64
 27  qualifying_DriverNumber           1005384 non-null  float64
 28  qualifying_LapTime                1005384 non-null  float64
 29  qualifying_LapNumber              1005384 non-null  float64
 30  qualifying_Sector1Time            1005384 non-null  float64
 31  qualifying_Sector2Time            1005384 non-null  float64
 32  qualifying_Sector3Time            1005384 non-null  float64
 33  qualifying_SpeedI1                1005384 non-null  float64
 34  qualifying_SpeedI2                1005384 non-null  float64
 35  qualifying_SpeedFL                1005384 non-null  float64
 36  qualifying_SpeedST                1005384 non-null  float64
 37  qualifying_IsPersonalBest         1005384 non-null  object
 38  qualifying_Compound               1005384 non-null  object
 39  qualifying_TyreLife               1005384 non-null  float64
 40  qualifying_FreshTyre              1005384 non-null  object
 41  qualifying_Stint                  1005384 non-null  float64
 42  qualifying_Team                   1005384 non-null  object
 43  qualifying_Driver                 1005384 non-null  object
 44  qualifying_TrackStatus            1005384 non-null  float64
 45  qualifying_IsAccurate             1005384 non-null  object
 46  qualifying_LapStartDate           1005384 non-null  datetime64[ns]
 47  qualifying_AirTemp                1005384 non-null  float64
 48  qualifying_Humidity               1005384 non-null  float64
 49  qualifying_Pressure               1005384 non-null  float64
 50  qualifying_Rainfall               1005384 non-null  object
 51  qualifying_TrackTemp              1005384 non-null  float64
 52  qualifying_WindDirection          1005384 non-null  float64
 53  qualifying_WindSpeed              1005384 non-null  float64
 54  qualifying_DistanceToDriverAhead  1005384 non-null  float64
 55  qualifying_lap_timedelta          1005384 non-null  float64
 56  qualifying_RPM                    1005384 non-null  float64
 57  qualifying_Speed                  1005384 non-null  float64
 58  qualifying_nGear                  1005384 non-null  float64
 59  qualifying_Throttle               1005384 non-null  float64
 60  qualifying_Brake                  1005384 non-null  object
 61  qualifying_DRS                    1005384 non-null  float64
 62  qualifying_Source                 1005384 non-null  object
 63  qualifying_Distance               1005384 non-null  float64
 64  qualifying_RelativeDistance       1005384 non-null  float64
 65  qualifying_Status                 1005384 non-null  object
 66  qualifying_X                      1005384 non-null  float64
 67  qualifying_Y                      1005384 non-null  float64
 68  qualifying_Z                      1005384 non-null  float64
 69  fastest_lap_milliseconds          1005384 non-null  float64
 70  age                               1005384 non-null  float64
dtypes: datetime64[ns](2), float64(47), int64(4), object(18)
memory usage: 552.3+ MB

### Team names miss match

In [74]:
qualifying_data_clean.loc[(qualifying_data_clean['qualifying_Team'].str.lower()!=qualifying_data_clean['constructorRef']),'qualifying_Team'].unique()

array(['Red Bull Racing', 'Haas F1 Team', 'Force India', 'Toro Rosso',
       'Racing Point', 'Alfa Romeo Racing'], dtype=object)

In [75]:
qualifying_data_clean.loc[(qualifying_data_clean['qualifying_Team'].str.lower()!=qualifying_data_clean['constructorRef']),'constructorRef'].unique()

array(['red_bull', 'haas', 'force_india', 'toro_rosso', 'alfa',
       'racing_point'], dtype=object)

constructorRef does match qualifying_team it just has slightly different spelling. we will drop qualifying_team as the constructorRef comes from the larger Ergast database

In [76]:
qualifying_data_clean.loc[(qualifying_data_clean['qualifying_Driver'].str.lower()!=qualifying_data_clean['driverRef']),'qualifying_Driver'].unique()

array(['BOT', 'HAM', 'VET', 'RAI', 'VER', 'GRO', 'RIC', 'MAG', 'SAI',
       'HUL', 'OCO', 'GAS', 'LEC', 'ALO', 'STR', 'VAN', 'PER', 'SIR',
       'HAR', 'ERI', 'NOR', 'GIO', 'ALB', 'KVY', 'RUS', 'KUB'],
      dtype=object)

qualifying_driver uses the 3 letter acroynm instead of driverRef string, this is a repeat of the same information so will drop qualifying_Driver

In [77]:
qualifying_data_clean.drop(columns=['qualifying_Team','qualifying_Driver'],axis=1,inplace=True)

## Save the Cleaned Dataframe
<a id="save"></a>

The dataframe is now clean and ready for EDA and feature aggregation

In [85]:
qualifying_data_clean.to_pickle('./data/clean/years_18_19_telemetry_subsetcircuits_cleaned.pkl',compression='gzip')

# Summary
<a id="sum"></a>

In this notebook we have succesffully download telemetry from FastF1 for a sample of 10 GrandPrix's over 2018 and 2018. We have successfully cleaned and prepared the data for further EDA and feature aggregation.



# Next Steps
<a id="nextsteps"></a>

Investigate the telemetry data in more detail, look for relationships between the data and the target variables. Then complete feature aggregations to generate every possible feature that can be thought of to extract information from the data on a lap and interlap level for every driver, back to driver and race record level. The features will be generated to capture feaures about the:
- Car Charateristics
- Circuit CHaracteristics
- Driver Characteristics